@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>Text Alternative for Heatmap of @ViewBag.Attribute by @ViewBag.LevelOfDetail in @ViewBag.BoundingEntity</title>
<link href="@Url.Content("~/Content/views/accessibility/index.css")" rel="stylesheet" type="text/css" />
}

<div id="heatmap">
<h1>Text Alternative for Heatmap of @ViewBag.Attribute by @ViewBag.LevelOfDetail in @ViewBag.BoundingEntity</h1>
@foreach (var item in ViewBag.Bands){ 
<h2>@item.Min - @item.Max</h2>
<ul>
@if (item.Items.Count == 0){
    <li><span>No Values on Map</span></li>
} 
@foreach (var val in item.Items){ 
    <li><span>@val</span></li>
} 
</ul>
} 

    <a href="javascript:window.close();">Close Window</a>
</div>

