@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>Text Alternative for Heatmap of @ViewBag.Attribute by @ViewBag.LevelOfDetail in @ViewBag.BoundingEntity</title>
<link href="@Url.Content("~/Content/views/accessibility/index.css")" rel="stylesheet" type="text/css" />
}

<div id="yearStarted">
<h1>Text Alternative for Years in Business Report for Pharmacies in San Francisco</h1>
<table>
    <thead>
        <tr>
            <td>Year</td>
            <td>City</td>
            <td>County</td>
            @if (ViewBag.CurrentInfo.CurrentPlace.Metro.Id != null)
            {<td>Metro</td>}
            <td>State</td>
            <td>USA</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Data){
        <tr>
            <td>@item.Year</td>
            <td>@item.City</td>
            <td>@item.County</td>
            @if (ViewBag.CurrentInfo.CurrentPlace.Metro.Id != null)
            {<td>@item.Metro</td>}
            <td>@item.State</td>
            <td>@item.Nation</td>
        </tr>
        }
    </tbody>
</table>





    <a href="javascript:window.close();">Close Window</a>
</div>