@{
    Layout = "~/Areas/Data/Views/Shared/SemanticHtmlLayout.cshtml";
}
<div id="yearStarted">
    <h1>@ViewBag.Query</h1>
    <table>
        <thead>
            <tr>
                <td>Year</td>
                @if (ViewBag.Place != null) {
                    <td>City</td>
                    <td>County</td>
                    if (ViewBag.TableColumns.Metro == 1) {
                        <td>Metro</td>
                    }
                    <td>State</td>
                    <td>USA</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Data)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@item.City</td>
                    <td>@item.County</td>
                    @if (ViewBag.TableColumns.Metro == 1)
                    {
                    <td>@item.Metro</td>}
                    <td>@item.State</td>
                    <td>@item.Nation</td>
                </tr>
            }
        </tbody>
    </table>
</div>
