<div class="col">
    <h4>Businesses & Communities</h4>
    <ul>
        <li><a href="/find-community">Community Information</a></li>
        <li><a href="/find-business">Business Directory</a></li>
        <li><a href="/bestPlaces/">Best Places</a></li>
    </ul>
</div>
<div class="col">
    <h4>Help & Support</h4>
    <ul>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/help/how-it-works">How it Works</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/help/faq">FAQ</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/help/contact">Contact</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/help/enterprisepartners">Enterprise Partners</a></li>
    </ul>
</div>
<div class="col">
    <h4>Company</h4>
    <ul>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/company/about">About</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/company/benefits">Benefits</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/company/team">Team</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/company/news">News</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/company/jobs">Jobs</a></li>
    </ul>
</div>
<div class="col">
    <h4>Privacy & Security</h4>
    <ul>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/product/terms">Terms of Use</a></li>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]/product/privacy-policy">Privacy Policy</a></li>
    </ul>
</div>

<p class="copy">Copyright &copy; @DateTime.Now.Year <a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]">SizeUp Inc.</a> Patent Pending. All Rights Reserved.</p>