@model SizeUp.Web.Models.User
@using SizeUp.Web.Helpers
@{
    ViewBag.Title = "SizeUp LBI - Login";
    Layout = "~/Views/Shared/_LayoutBare.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/content/images/favicon.ico")" />
     <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/admin/css/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Content/admin/css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/admin/css/sb-admin-2.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/admin/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <style>
        .validation-summary-errors, .field-validation-error { color:#a94442;}
    </style>
    


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    
                    <div class="panel-heading">
                        <img class="img-responsive" src="@Url.Content("~/Content/images/SizeUpLBI-logo.png")" alt="SizeUp Logo"/>
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm("Index", "Client", FormMethod.Post))
                        {
                            @Html.Raw(Html.DecodeHtmlHelper(Html.ValidationSummary(true, "Login failed. Check your login details.")));
                            if (ViewBag.PasswordResetSent){
                                <div class="alert alert-success">We've sent you a password reset e-mail. Please open it to complete resetting your password.</div>
                            } 
                            
                            if (ViewBag.PasswordReset){
                                <div class="alert alert-success">Your password has been reset. Please login with your new password.</div>
                            } 
                            
                            <div>
                                <fieldset>
                                    <div class="form-group">
                                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "E-mail", autofocus = "" })
                                        @*@Html.ValidationMessageFor(u => u.Email)*@
                                        @if (Html.ValidationMessageFor(u => u.Email) != null)
                                        {
                                            @Html.Raw(Html.ValidationMessageFor(u => u.Email).ToString())
                                            //@Html.Raw("Incorrect password. Try again or <a href='/client/beginreset'>reset your password</a>")
                                        }


                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(u => u.Password, new { type = "password", @class = "form-control", placeholder = "Password", autofocus = "" })
                                        @Html.ValidationMessageFor(u => u.Password)
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(u => u.RememberMe)
                                            @*@Html.LabelFor(u => u.RememberMe)*@
                                            Remember Me
                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" />
                                </fieldset>
                            </div>
                        }

                        <a href="#resetModal" class="forget" data-toggle="modal">Forgot your password?</a>

                        <div id="resetModal" class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	                        
                                <div class="modal-dialog modal-sm">
		                            <div class="modal-content">
			                            <div class="modal-header">
				                            <button type="button" class="close" data-dismiss="modal">
					                            <span aria-hidden="true">×</span>
					                            <span class="sr-only">Close</span>
				                            </button>
				                            <h4 class="modal-title">Reset password</h4>
			                            </div>
                                        <form id="modalForm">
			                                <div class="modal-body">
				                                <p>Type your email</p>
				                                <input type="text" name="reset-email" id="reset-email" class="form-control email required" autocomplete="off" required data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)"/>
                                            </div>
			                                <div class="modal-footer">
				                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				                                <button type="submit" class="btn btn-success">Reset</button>
			                                </div>
                                        </form>
		                            </div> <!-- /.modal-content -->
	                            </div> <!-- /.modal-dialog -->
                            
                        </div> <!-- /.modal -->

                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/admin/jquery.js")"></script>

    <!-- jQuery Validation -->
    <script src="@Url.Content("~/Scripts/admin/validatePlugin.js")"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/admin/bootstrap.min.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Scripts/admin/plugins/metisMenu/metisMenu.min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/admin/sb-admin-2.js")"></script>

     <script type="text/javascript">


         $(function () {
             $('#modalForm').goValidate();
         });
    </script>

</body>

</html>

@*<span class="forgot">
    <a class="forgot link" href="/client/forgotpassword">Forget your username or password?</a>
</span>
<span class="noaccount">
    <a class="noaccount link" href="/client/createaccount">Set up a new account</a>
</span>*@