@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - User Profile</title>
<link href="@Url.Content("~/Content/views/register.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/views/register.js")"></script>
}

<h1>Complete your free registration</h1>
<p class="details">Use the form below to create a new account. The name field is optional.
 Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.</p>

<form id="registerForm" action="/register/?returnurl=@Request.QueryString["returnurl"]" method="post">
    <ul id="form">
        <li>
            <label for="nameBox">Name:</label>
            <input id="nameBox" type="text" name="name" value="@ViewBag.Name" />
            <span class="hint">(optional)</span>
        </li>
        <li>
            <label for="emailBox">Email:</label>
            <input id="emailBox" type="text" name="email" value="@ViewBag.Email" />
            <span id="emailRequired" class="error hidden" title="Email is required">*</span>
            <span id="emailInvalid" class="error hidden" title="A valid email address is required">*</span>
        </li>
        <li>
            <label for="passwordBox">Password:</label>
            <input id="passwordBox" type="password" name="password" />
            <span id="passwordRequired" class="error hidden" title="Password is required">*</span>
        </li>
    </ul>

    <ul id="sidebar">
        @if(ViewBag.UsernameExists){
        <li>
            <p class="info">This e-mail address is already registered.  Please <a href="/signin/?returnurl=@Request.QueryString["returnurl"]">sign in</a> with your password.</p>
        </li>
        }
        @if(ViewBag.Error){
        <li>
            <p class="info">Could not create your account.  Please contact support for assistance.</p>
        </li> 
        }
       
        <li>
            <p class="info">
                <span>Your SizeUp account gives you access to a wealth of information that will 
                help you make decisions to grow your business.</span>
                <span>
                 We keep your information completely confidential. For more information, please read our <a href="#">Privacy Policy</a>.
                </span>
                <span>
                By creating an account with SizeUp, you accept our <a href="#">Terms of Use</a>.
                </span>
            </p>
        </li>
    </ul>

    <div id="submitContainer">
        <input type="submit" class="hidden" value="Create Account" />
        <a href="javascript:void(0)" id="register" class="button">Create Account</a>
    </div>
</form>

@section scripts{
    <script type="text/javascript">

    var driver = new sizeup.views.register();
    </script>
}

