@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - User Profile</title>
<link href="@Url.Content("~/Content/views/user/signin.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/views/user/signin.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
}

<h1>Returning users</h1>
<p class="details">Sign into your all-access SizeUp account here.</p>

<form id="signinForm" action="/user/signin/?returnurl=@Server.UrlEncode(Request.QueryString["returnurl"])" method="post">
    <ul id="form">
        <li class="emailRequired hidden">
            <span class="error">Email is required</span>
        </li>
         <li class="emailInvalid hidden">
            <span class="error">A valid email address is required</span>
        </li>
         <li class="passwordRequired hidden">
            <span class="error">Password is required</span>
        </li>
        <li>
            <label for="emailBox">Email:</label>
            <input id="emailBox" type="text" name="email" value="@ViewBag.Email" />
            <span class="error hidden emailRequired" title="Email is required">*</span>
            <span class="error hidden emailInvalid" title="A valid email address is required">*</span>
        </li>
        <li>
            <label for="passwordBox">Password:</label>
            <input id="passwordBox" type="password" name="password" />
            <span class="error hidden passwordRequired" title="Password is required">*</span>
        </li>
         @if(ViewBag.InvalidPassword){
        <li>
            <p class="info error">Incorrect password. Try again or <a href="/user/beginresetpassword/?email=@Server.UrlEncode(ViewBag.Email)">reset your password</a></p>
        </li>
        }
        @if(ViewBag.LockedOut){
        <li>
            <p class="info error">This account has been locked out.  Please contact support for assistance.</p>
        </li> 
        }
        @if (ViewBag.NotActive){
        <li>
            <p class="info error">Please verify your e-mail address by clicking the <strong>verify</strong> link in the welcome e-mail you received or <a href="/user/SendVerification/?email=@Server.UrlEncode(ViewBag.Email)&returnurl=@Server.UrlEncode(Request.QueryString["returnurl"])">resend the verification email.</a></p>
        </li>
        }
        @if(ViewBag.Verified){
        <li>
            <p class="info">Thank you. Your e-mail address has been verified.</p>
        </li>
        }
        @if(ViewBag.VerificationError){
        <li>
            <p class="info error">We could not verify your e-mail address using the code you supplied.<br/><br/> Please check the link and try again.</p>
        </li>
        }
        @if (ViewBag.PasswordResetSent){
        <li>
            <p class="info">We've sent you a password reset e-mail. Please open it to complete resetting your password.</p>
        </li> 
        } 
        @if (ViewBag.PasswordReset){
        <li>
            <p class="info">Your password has been reset. Please login with your new password.</p>
        </li> 
        } 
        @if (ViewBag.VerificationSent){
        <li>
            <p class="info">We've sent you an account verification e-mail. Please open it to activate your account.</p>
        </li> 
        } 
    </ul>

    <ul id="sidebar">
        <li>
            <p class="info" style="border: 2px solid black">
                If you don't have an account, head over to our friends at @System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Name"].
                <a style="font-weight: bold" href="@System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Url"]">
                    @System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Name"]
                provides free access to SizeUp</a> and much more.
        </p>
        <p class="info" style="border: none; background-color: #FFFFFF;">
            Information and news about SizeUp can be found at
            <a href="@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]">@System.Configuration.ConfigurationManager.AppSettings["Corporate.Url"]</a>.
        </p>
    </li>
    </ul>

    <div id="submitContainer">
        <label for="persistSignin">Keep me signed in</label>
        <input id="persistSignin" type="checkbox" name="persist" />
        <input id="signin" type="submit" class="button" value="Sign In" />
    </div>
</form>

@section scripts{
    <script type="text/javascript">

    var driver = new sizeup.views.user.signin();
    </script>
}

