<div class="header">
    <div class="icon"></div>
    <h2>Cost Effectiveness</h2>
    <span class="hint">Revenue per employee divided by worker salary</span>
    <input type="text" class="valueBox" disabled="disabled" />
    <span class="prompt">Please provide revenue, number of employees and salary to see this report</span>
    <div class="gauge "></div>
    <a href="javascript:void(0)" class="button medium runReport ">Run Report</a>
    <a href="javascript:void(0)" class="reportToggle"></a>
</div>
<div class="body ">
    <div class="loading">
        <p class="title">Cost Effectiveness Report</p>
        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
        <p class="message">Generating Report</p>
    </div>
    <div class="reportContainer ">
        <div class="reportContent">
            <h3>How you size up</h3>
            <p class="description">
                <div data-template="description">
                @Html.Raw(ViewBag.Strings["Dashboard.AverageEmployees.Description"])


                    Cost effectiveness is measured by dividing the annual revenue produced per employee by the average annual worker salary.
                    The cost effectiveness for your business is {{Percentage}} for your county. The salary data used in this calculation,
                    which is not available for <strong>{{Industry.Name}}</strong>, comes from the closest corresponding industry category, 
                    <strong>{{NAICS6.Name}}</strong>.
                </div>
            </p>
             <div class="chart">
                <a href="javascript:void(0);" class="mapToggle" data-toggleText="View Variations by Geography">Hide Variations by Geography</a>
                <a href="javascript:void(0);" class="chartToggle" data-toggleText="View Chart">View Data Table</a>
                <div class="container"></div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td class="label">Business/Geography</td>
                        <td class="value">Value</td>
                    </tr>
                </thead>
                <tbody class="container">
                    <tr data-template="AverageEmployeesTableRow">
                        <td class="name">{{name}}</td>
                        <td class="value">{{value}}</td>
                    </tr>
                </tbody>
            </table>
            <ul class="links">
                <li>
                    <a class="source" href="javascript:void(0);" data-toggleText="Hide">Source</a>
                </li>
            </ul>
            <div class="sourceContent " data-expandedClass="expanded">
                @Html.Raw(ViewBag.Strings["Dashboard.AverageEmployees.Source"])


                                <p>Cost effectiveness data is a measure that combines salary data with revenue and employee data
                        from individual businesses to show how much revenue an employee generates relative to 
                        the labor costs incurred by that employee. 
                </p>
            </div>
            <div class="map heatmap">
                <p class="title backdrop"></p>
                <div class="legend backdrop">
                    <ul class="legendContainer">
                        <li data-template="legendItem"><div class="block" data-override-style="background-color: {{color}};"></div><span class="range">{{label}}</span></li>
                    </ul>
                    <div class="bottom backdrop"></div>
                </div>
                <div class="container"></div>
            </div>
        </div>
        <div class="reportSidebar">
            <div class="section considerations collapsable">
                                <h4>Considerations</h4>
                    <p>The cost effectiveness index only accounts for the costs of labor, and not other associated costs of a 
                    business like the costs of goods you sell. If your costs exclusive of labor are higher than your competition,
                        you may be less cost effective compared to your competition than this calculation indicates. Alternatively,
                        if your costs exclusive of labor are less than your competition, you may be more cost effective compared to
                        your competition than this calculation indicates.
                    </p>
		            <p>Do not assume that lowering salaries is necessarily the key to becoming more cost effective.  If your revenue 
                    numbers are low, you may have more significant obstacles than low productivity, and lowering salaries 
                    may leave you unable to attract the talented workers that you need to succeed.
		            </p>


                @Html.Raw(ViewBag.Strings["Dashboard.AverageEmployees.Resources"])
            </div>
            <a href="javascript:void(0);" class="considerationToggle fadeToggle" data-toggleText="More" data-toggleClass="collapsed">Less</a>
            <div class="section resources collapsable">

                                <h4>Resources</h4>
                <p>Seek financial advice from <a href="http://www.score.org/chapters"  target="_blank">SCORE</a> or <a href="http://retirement.ameriprise.com/investment-advice-life-events/business-financial-advice.asp" target="_blank">Ameriprise</a>.</p>
		        <p>Track revenue and expenses with <a href="http://quickbooks.intuit.com/" target="_blank">Quickbooks</a>, <a href="https://indinero.com/" target="_blank">inDinero</a>, or <a href="http://waveaccounting.com/" target="_blank">Wave Accounting</a>.</p> 



                @Html.Raw(ViewBag.Strings["Dashboard.AverageEmployees.Resources"])
                <p class="notice"><a href="/help/contact">Get listed as a resource</a></p>
            </div>
            <a href="javascript:void(0);" class="resourcesToggle fadeToggle" data-toggleText="More" data-toggleClass="collapsed">Less</a>


        </div>
    </div>
</div>