@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head{
<title>Business Listings</title>
<link href="@Url.Content("~/Content/views/competition/index.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.ba-bbq.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/notifier.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/industrySelector.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/pager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/imageMarker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latlng.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latlngBounds.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/businessMap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/infoWindow.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/views/competition/competition.js")"></script>

}


<div id="competition">
    <ul id="tabs">
        <li class="tab active competitor">
            <a href="javascript:void(0);">
                <span class="inverse">Competitors</span>
            </a>
        </li>
        <li class="tab hidden buyer">
            <a href="javascript:void(0);">
                <span class="inverse">Customers</span>
            </a>
        </li>
        <li class="tab hidden supplier">
            <a href="javascript:void(0);">
                <span class="inverse">Suppliers</span>
            </a>
        </li>
    </ul>

    <ul id="questions">
        <li class="question buyer" >
            <a href="javascript:void(0);"><span class="inverse">Do you SELL to other businesses?</span></a>
        </li>
        <li class="question supplier" >
            <a href="javascript:void(0);"><span class="inverse">Do you BUY from other businesses?</span></a>
        </li>
    </ul>

    <div class="tabContent wrapper">
        <div class="picker wrapper competitor hidden">
            <h2>Select categories of businesses that you compete with</h2>
            <p>Map the potential competitors in your area.</p>
            <ul class="industryList">
                <li data-template="competitorPickerItem">
                    <a href="javascript:void(0);" class="remove" data-id="{{Id}}">Remove</a>
                    <span>{{Name}}</span>
                </li>
            </ul>

            <input type="text" class="pickerInput" value="enter a keyword" />
            <a href="javascript:void(0);" class="button small submit">Done</a>
            <a href="javascript:void(0);" class="cancel inverse">Cancel</a>
        </div>



        <div class="picker wrapper buyer hidden">
            <h2>Select categories of businesses to whom you sell</h2>
            <p>Map the potential customers in your area.</p>
            <ul class="industryList">
                <li data-template="buyerPickerItem">
                    <a href="javascript:void(0);" class="remove" data-id="{{Id}}">Remove</a>
                    <span>{{Name}}</span>
                </li>
            </ul>

            <input type="text" class="pickerInput" value="enter a keyword" />
            <a href="javascript:void(0);" class="button small submit">Done</a>
            <a href="javascript:void(0);" class="cancel inverse">Cancel</a>
        </div>



        <div class="picker wrapper supplier hidden">
            <h2>Select categories of businesses from which you buy</h2>
            <p>Map the businesses in your area that provide goods and services necessary for your business.</p>
            <ul class="industryList">
                <li data-template="supplierPickerItem">
                    <a href="javascript:void(0);" class="remove" data-id="{{Id}}">Remove</a>
                    <span>{{Name}}</span>
                </li>
            </ul>

            <input type="text" class="pickerInput" value="enter a keyword" />
            <a href="javascript:void(0);" class="button small submit">Done</a>
            <a href="javascript:void(0);" class="cancel inverse">Cancel</a>
        </div>
        











        <div class="content competitor hidden">
            <h2>You are in the @ViewBag.CurrentInfo.CurrentIndustry.Name industry</h2>
            <a href="javascript:void(0);" class="change">[Do you COMPETE with businesses in other industries?]</a>

            <div class="main wrapper">
                <div class="list wrapper">
                    <div class="loading">
                        <p class="title"></p>
                        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
                        <p class="message">Loading Businesses</p>
                    </div>
                    <ul class="businessList">
                        <li data-template="competitorBusinessItem">
                            <a href="javascript:void(0);" data-id="{{business.Id}}">
                                <img data-override-src="/pins/business/marker/competitor/{{index}}" />
                                <dl>
                                    <dt class="name">{{business.Name}}</dt>
                                    <dd class="address">{{business.Address}}{{^business.Address}}Street address not provided{{/business.Address}}</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>

                    <div class="pager hidden">
                        <div data-template="competitorPager">
                            <span class="label">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                            {{#first}}<a href="javascript:void(0);" data-index="first">&lt;&lt;</a>{{/first}}
                            {{#prev}}<a href="javascript:void(0);" data-index="prev">&lt;</a>{{/prev}}
                            <ul>
                                {{#pages}}
                                <li class="page {{#current}}current{{/current}}"><a href="javascript:void(0);" data-index="{{index}}">{{index}}</a></li>
                                {{#seperator}}<li class="seperator">|</li>{{/seperator}}
                                {{/pages}}
                            </ul>
                            {{#next}}<a href="javascript:void(0);" data-index="next">&gt;</a>{{/next}}
                            {{#last}}<a href="javascript:void(0);" data-index="last">&gt;&gt;</a>{{/last}}
                        </div>
                    </div>



                    @if(!HttpContext.Current.User.Identity.IsAuthenticated){
                    <p class="signinPanel info">
                        <span>Please <a href="/user/signin?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign In</a> to see more results.</span>
                        <span>Don't have an account? Complete a <a href="/user/register?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">free registration</a>.</span>
                    </p>
                    }
                </div>
                <div class="mapContent wrapper">
                    <div class="map">map</div>
                    <div data-template="competitorInfoWindow" class="infoWindow">
                        <h3>{{Name}}</h3>
                        <span>{{Address}}{{^Address}}Street address not provided{{/Address}}</span>
                        <ul>
                            <li><span class="label">Phone:</span><span class="value">{{PhoneFormatted}}</span></li>
                            <li><span class="label">Business Type:</span><span class="value">{{#IsFirm}}Corporation{{/IsFirm}}{{^IsFirm}}{{#IsHomeBased}}Home-based{{/IsHomeBased}}{{^IsHomeBased}}No data{{/IsHomeBased}}{{/IsFirm}}</span></li>
                            <li><span class="label">Ownership:</span><span class="value">{{#IsPublic}}Public{{/IsPublic}}{{^IsPublic}}Private{{/IsPublic}}</span></li>
                            <li><span class="label">Website:</span>{{#URL}}<a target="_blank" data-override-href="http://{{URL}}" class="value">{{URL}}</a>{{/URL}}{{^URL}}<span class="lowlight value">Not provided</span>{{/URL}}</li>
                            <li><span class="label">Years in business:</span>{{#YearsInBusiness}}<span class="value">{{YearsInBusiness}}</span>{{/YearsInBusiness}}{{^YearsInBusiness}}<span class="value">No data</span>{{/YearsInBusiness}}</li>
                        </ul>
                        <div class="tools">
                        <a class="zoom" href="javascript:sizeup.competition.report.zoomIn(989894068);">Zoom</a>
                    </div>
                </div>
                </div>
            </div>
        </div>








        <div class="content buyer hidden">
            <h2>Categories of businesses that buy from you</h2>
            <a href="javascript:void(0);" class="change">[Change]</a>

            <div class="wrapper">
                <div class="list wrapper">

                    <div class="loading">
                        <p class="title"></p>
                        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
                        <p class="message">Loading Businesses</p>
                    </div>

                    <ul class="businessList">
                        <li data-template="buyerBusinessItem">
                            <a href="javascript:void(0);" data-id="{{business.Id}}">
                                <img data-override-src="/pins/business/marker/buyer/{{index}}" />
                                <dl>
                                    <dt class="name">{{business.Name}}</dt>
                                    <dd class="address">{{business.Address}}{{^business.Address}}Street address not provided{{/business.Address}}</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>

                    <div class="pager hidden">
                        <div data-template="buyerPager">
                            <span class="label">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                            {{#first}}<a href="javascript:void(0);" data-index="first">&lt;&lt;</a>{{/first}}
                            {{#prev}}<a href="javascript:void(0);" data-index="prev">&lt;</a>{{/prev}}
                            <ul>
                                {{#pages}}
                                <li class="page {{#current}}current{{/current}}"><a href="javascript:void(0);" data-index="{{index}}">{{index}}</a></li>
                                {{#seperator}}<li class="seperator">|</li>{{/seperator}}
                                {{/pages}}
                            </ul>
                            {{#next}}<a href="javascript:void(0);" data-index="next">&gt;</a>{{/next}}
                            {{#last}}<a href="javascript:void(0);" data-index="last">&gt;&gt;</a>{{/last}}
                        </div>
                    </div>
                    @if(!HttpContext.Current.User.Identity.IsAuthenticated){
                    <p class="signinPanel info">
                        <span>Please <a href="/user/signin?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign In</a> to see more results.</span>
                        <span>Don't have an account? Complete a <a href="/user/register?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">free registration</a>.</span>
                    </p>
                    }
                </div>
                <div class="mapContent wrapper">
                    <div class="map">map</div>
                </div>
            </div>
        </div>








        <div class="content supplier hidden">
            <h2>Categories of businesses from which you buy</h2>
            <a href="javascript:void(0);" class="change">[Change]</a>

            <div class="wrapper">
                <div class="list wrapper">

                    <div class="loading">
                        <p class="title"></p>
                        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
                        <p class="message">Loading Businesses</p>
                    </div>

                    <ul class="businessList">
                        <li data-template="supplierBusinessItem">
                            <a href="javascript:void(0);" data-id="{{business.Id}}">
                                <img data-override-src="/pins/business/marker/supplier/{{index}}" />
                                <dl>
                                    <dt class="name">{{business.Name}}</dt>
                                    <dd class="address">{{business.Address}}{{^business.Address}}Street address not provided{{/business.Address}}</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                    <div class="pager hidden">
                        <div data-template="supplierPager">
                            <span class="label">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                            {{#first}}<a href="javascript:void(0);" data-index="first">&lt;&lt;</a>{{/first}}
                            {{#prev}}<a href="javascript:void(0);" data-index="prev">&lt;</a>{{/prev}}
                            <ul>
                                {{#pages}}
                                <li class="page {{#current}}current{{/current}}"><a href="javascript:void(0);" data-index="{{index}}">{{index}}</a></li>
                                {{#seperator}}<li class="seperator">|</li>{{/seperator}}
                                {{/pages}}
                            </ul>
                            {{#next}}<a href="javascript:void(0);" data-index="next">&gt;</a>{{/next}}
                            {{#last}}<a href="javascript:void(0);" data-index="last">&gt;&gt;</a>{{/last}}
                        </div>
                    </div>
                    @if(!HttpContext.Current.User.Identity.IsAuthenticated){
                    <p class="signinPanel info">
                        <span>Please <a href="/user/signin?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign In</a> to see more results.</span>
                        <span>Don't have an account? Complete a <a href="/user/register?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">free registration</a>.</span>
                    </p>
                    }
                </div>
                <div class="mapContent wrapper">
                    <div class="map">map</div>
                </div>
            </div>
        </div>


    </div>
</div>



@section scripts{

    <script type="text/javascript">
        var opts = @Html.Raw(ViewBag.CurrentInfoJSON) ;
    var driver = new sizeup.views.competition.competition(opts);
    </script>


}


