@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Communities in @ViewBag.CurrentInfo.CurrentPlace.State.Name</title>
<link href="@Url.Content("~/Content/views/community/find.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<meta name="robots" content="noindex" />
<meta name="title" content="Find List by Cities &amp; Communities in @ViewBag.CurrentInfo.CurrentPlace.State.Name | SizeUp" />
<meta name="description" content="Find 2016 demographics, populations &amp; household spending data for cities &amp; communities in @ViewBag.CurrentInfo.CurrentPlace.State.Name  from SizeUp or expand your search to neighboring states." />

}

<div id="community" class="city">
    <h1>Communities in @ViewBag.CurrentInfo.CurrentPlace.State.Name</h1>
 
    @foreach(var col in ViewBag.Cities)
    {
    <div class="col">
        @foreach(List<SizeUp.Core.DataLayer.Models.Place> list in col){
        <h2>@list[0].City.Name.Substring(0,1)</h2>
        <ul>
            @foreach(var item in list)
            {
            <li>
                <a href="/community/@item.State.SEOKey/@item.County.SEOKey/@item.City.SEOKey" class="inverse">@item.City.Name <span>(@item.DisplayName)</span></a>
            </li>
            }
        </ul>
        }
    </div>

    }

</div>





