@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string businessUrl;
    string competitionUrl;
    string advertisingUrl;
    string reportPath = ViewBag.CurrentInfo.CurrentPlace.State.SEOKey
            + "/" + ViewBag.CurrentInfo.CurrentPlace.County.SEOKey
            + "/" + ViewBag.CurrentInfo.CurrentPlace.City.SEOKey
            + "/" + ViewBag.CurrentInfo.CurrentIndustry.SEOKey;
    
    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        businessUrl = "/dashboard/" + reportPath;
        competitionUrl = "/competition/" + reportPath;
        advertisingUrl = "/advertising/" + reportPath;
    }
    else
    {
        businessUrl = System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Url"];
        competitionUrl = System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Url"];
        advertisingUrl = System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Url"];
    }
}

@section head{


<title>@ViewBag.CurrentInfo.CurrentPlace.City.Name- (@ViewBag.CurrentInfo.CurrentPlace.County.Name Cnty), @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation – @ViewBag.CurrentInfo.CurrentIndustry.Name | SizeUp </title>
<meta name="keywords" content="@ViewBag.CurrentInfo.CurrentIndustry.Name, @(string.Join(", ", ViewBag.IndustryKeywords))" />
<meta name="description" content="Average revenue, salary, number of employees for @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation" />


<link href="@Url.Content("~/Content/views/community/communityWithIndustry.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="//@System.Configuration.ConfigurationManager.AppSettings["API.Url"]/js/?apikey=@System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"]&callback=apiLoaded&@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.31&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/raphael-min.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/tinycolor-min.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/util/numbers/format.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/charts/barChart.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatmapColors.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/overlay.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatmapOverlays.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/legend.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLng.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLngBounds.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>



@if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <style>
        /* Applies to analysis graphs that are dynamically rendered (even when user is not auth'd) */
        svg {
            display: none;
        }
    </style>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/views/community/communityWithIndustry.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

}


<div id="community">
    <h1>Industry Analysis for @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</h1>
    <p class="description">There @(ViewBag.BusinessCount == 1 ? "is " +  @ViewBag.BusinessCount+ " business" : "are " + @ViewBag.BusinessCount + " businesses") in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation categorized under <a href="/find-business/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">@ViewBag.CurrentInfo.CurrentIndustry.Name. </a>
         A comprehensive <a href="/community/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey">community profile for @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation </a> is available,
        as well as a list of the <a href="/bestplaces/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">best places for @ViewBag.CurrentInfo.CurrentIndustry.Name.</a>
    </p>
    <h2>Related Industries</h2>
    <p class="description">@(string.Join(", ", ViewBag.IndustryKeywords))</p>
     <ul class="features">
        <li class="dashboard">
            <a href="@businessUrl">
                <img src="@Url.Content("~/Content/images/mybusinessSmall.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="My Business" />
                <p>Compare your business to your industry competitors.</p>
                <span class="button small">My Business</span>
            </a>
        </li>
        <li class="competition">
            <a href="@competitionUrl" >
                <img src="@Url.Content("~/Content/images/competeSmall.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Competition" />
                <p>Map your competitors, customers, and suppliers.</p>
                <span class="button small" >Competition</span>
            </a>
        </li>
        <li class="advertising">
            <a href="@advertisingUrl" >
                <img src="@Url.Content("~/Content/images/advertiseSmall.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Advertising" />
                <p>Find best places to target your next advertising campaign.</p>
                <span class="button small" >Advertising</span>
            </a>
        </li>
    </ul>
    <div class="mapWrapper container">
        <div data-template="legendTitle" class="legend titleWrap">
            <p class="backdrop edge title"><span class="text"></span></p>
        </div>
        <div data-template="legendContainer" class="legend backdrop edge">
            <ul class="legend legendContainer">
                <li data-template="legendItem"><div class="block" data-override-style="background-color: {{color}};"></div><span class="range text">{{label}}</span></li>
            </ul>
        </div>
        <div class="map"></div>
    </div>
    <div class="report wrapper">
      @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
      {
        <p class="info">
            For more features, including in-map industry analysis for
            @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name,
            head over to
            <a target="_blank" target="_blank" style="font-weight: bold" href="@System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Url"]">fully-featured SizeUp, hosted by @System.Configuration.ConfigurationManager.AppSettings["FeaturedCustomer.Name"]</a>.
        </p>
      }
      @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
      {
        <h2>Industry Analysis for @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</h2>
        <div id="averageRevenue" class="chartContainer">
            <h3>Average Estimated Revenue</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Average Estimated Revenue</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>

        <div id="totalRevenue" class="chartContainer">
            <h3>Total Estimated Revenue</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Total Estimated Revenue</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>

        <div id="averageEmployees" class="chartContainer">
            <h3>Average Estimated Employees</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Average Estimated Employees</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>

        <div id="totalEmployees" class="chartContainer">
            <h3>Total Estimated Employees</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Total Estimated Employees</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>

        <div id="averageSalary" class="chartContainer">
            <h3>Average Salary</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Average Salary</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>

        <div id="costEffectiveness" class="chartContainer">
            <h3>Cost Effectiveness</h3>
            <p class="noData hidden">No results for this industry</p>
            <div class="chartWrapper">
                <p class="buttons"><a class="mapActivate" href="javascript:void(0);">MAP</a> | <a class="mapClear" href="javascript:void(0);">RESET</a></p>
                <div class="chart"></div>
            </div>
            <div class="loading">
                <p class="title">Cost Effectiveness</p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Generating Report</p>
            </div>
        </div>
      }
    </div>

</div>








@section scripts{

<script type="text/javascript">
   
    var done = function(){
        var opts =  { location : @Html.Raw(ViewBag.CurrentInfoJSON) }; 
        var driver = new sizeup.views.community.communityWithIndustry(opts);
        };

    var notifier = new sizeup.core.notifier(done);
    var apiLoaded = notifier.getNotifier();
    var doc = notifier.getNotifier();
    $(document).ready(doc);
</script>
}




