@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>
    
</title>




<link href="@Url.Content("~/Content/views/community/find.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/controls/industrySelector.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/chosen.jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/views/community/find.js")"></script>
}


<div id="community">
    <h1>Community Listings</h1>
    <form action="/find-community" method="get" id="form" class="hidden" >
        <ul>
            <li>
                <label for="industry">Industry:</label>
                <input type="text" id="industry"  value="enter an industry" class="blank" />
            </li>
            <li>
                <label for="business">State:</label>
                <select id="state">
                    <option value="">Filter By State</option>
                    @foreach (var state in ViewBag.States)
                    {
                        <option value="@state.Id">@state.Name</option>
                    }
                </select>
            </li>
        </ul>
        <input type="hidden" name="page" value="0" />
        <input type="hidden" id="stateId" name="stateId" value="@Request.QueryString["stateId"]" />
        <input type="hidden" id="industryId" name="industryId" value="@Request.QueryString["industryId"]" />
        <input type="submit" id="submit" class="button" value="Filter" />
        <p id="noIndustryMatchesMessage" class="info hidden">No industry matched your keyword. Please search again and select from the dropdown.</p>
    </form>

    @foreach(var col in ViewBag.Communities)
    {
    <div class="col">
        <ul>
            @foreach(var item in col)
            {
            <li>
                <a href="/community/@item.StateSEO/@item.CountySEO/@item.CitySEO/@item.IndustrySEO">@item.City, @item.State (@item.County County)</a>
                <span>@item.Industry</span>
            </li>
            }
        </ul>
    </div>
    }

    <div id="buttonContainer">
        @if(!ViewBag.FirstPage){
        <a href="/find-community?@ViewBag.Prev.ToString()" id="prev" class="button small">Last Page</a>
        }
        @if(!ViewBag.LastPage){
        <a href="/find-community?@ViewBag.Next.ToString()" id="next" class="button small">Next Page</a>
        }
    </div>

</div>








@section scripts{

<script type="text/javascript">
    var opts = {
        stateId: '@Request.QueryString["stateId"]',
        industryId: '@Request.QueryString["industryId"]'
    };
    $(document).ready(function () {
        var driver = new sizeup.views.community.find(opts);
    });
</script>
}
