@{
    Layout = "~/Areas/Widget/Views/Shared/_HeaderlessLayout.cshtml";
}


@section head{
<title>Best Industries</title>
<link href="@Url.Content("~/Content/views/bestPlaces/index.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/widget/views/bestPlaces/index.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://api.@SizeUp.Core.Web.WebContext.Current.Domain/js/?apikey=@System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"]&callback=apiLoaded&@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.ba-bbq.min.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/util/numbers/format.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>


<script type="text/javascript" src="@Url.Content("~/Scripts/controls/rangeslider.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/selectList.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/industrySelector.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/promptBox.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/toggleButton.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/rangeLabel.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/share.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLng.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLngBounds.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatPin.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>


<script type="text/javascript" src="@Url.Content("~/Scripts/views/bestPlaces/bestPlaces.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>


}


<div id="bestPlaces">
    <div class="content container hidden">
    
        <h2 class="heading">
           <span>Best Industries</span>

        </h2>
          


   
    </div>
</div>





@section scripts{

    <script type="text/javascript">



        var done = function(){
            var opts = {
                CurrentInfo: @Html.Raw(ViewBag.CurrentInfoJSON)
            };
           // var driver = new sizeup.views.bestPlaces.bestPlaces(opts);;
        };

    var notifier = new sizeup.core.notifier(done);
    var apiLoaded = notifier.getNotifier();
    var doc = notifier.getNotifier();
    $(document).ready(doc);
    </script>


}


