@{
    Layout = "~/Areas/Widget/Views/Shared/_HeaderlessLayout.cshtml";
}


@section head{
<title>Best Industries</title>


<link href="@Url.Content("~/Content/widget/views/bestIndustries/index.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://api.@SizeUp.Core.Web.WebContext.Current.Domain/js/?apikey=@System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"]&callback=apiLoaded&@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/util/numbers/format.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/widget/views/bestIndustries/bestIndustries.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>


}


<div id="bestIndustries">

     <div class="loading">
        <p class="title">Best Ranked Industries for @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</p>
        <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
        <p class="message">Generating Report</p>
    </div>


    <div class="wrapper noResults hidden">
        <h2>Unable to display the Best Ranked Industries for @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</h2>
    </div>
    <div class="wrapper bestIndustries hidden">
        <h2>Best Ranked Industries for @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</h2>
        <p>The 5 industries in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation with the highest total revenue
                are shown below along with the 5 industries with the highest revenue per capita.</p>
        <p>Each industry must have at least 3 businesses in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation to be ranked.</p>
        <div class="report">
            <div data-template="bestIndustries">
                <ul>
                    {{#Industries}}
                    <li>
                        <a target="_blank" href="/community/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/{{Industry.SEOKey}}">{{Industry.Name}}</a>
                        {{#totalRevenue}}<p><span class="badge {{totalRevenue.badgeType}}" title="{{totalRevenue.badgeName}}">{{totalRevenue.rank}}</span> in the nation for <strong>Total Revenue</strong></p>{{/totalRevenue}}
                        {{#revenuePerCapita}}<p><span class="badge {{revenuePerCapita.badgeType}}" title="{{revenuePerCapita.badgeName}}">{{revenuePerCapita.rank}}</span> in the nation for <strong>Revenue Per Capita</strong></p>{{/revenuePerCapita}}
                    </li>
                    {{/Industries}}
                </ul>
                <a target="_blank" class="" href="/find-community/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/">View a complete list of industries in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</a>
            </div>         
        </div>
    </div>

</div>





@section scripts{

    <script type="text/javascript">

        var done = function(){
            var opts = {
                CurrentInfo: @Html.Raw(ViewBag.CurrentInfoJSON)
            };
            var driver = new sizeup.widget.views.bestIndustries.bestIndustries(opts);
        };

    var notifier = new sizeup.core.notifier(done);
    var apiLoaded = notifier.getNotifier();
    var doc = notifier.getNotifier();
    $(document).ready(doc);
    </script>


}


