@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <title>Small Business Intelligence for All | SizeUp</title>
    <meta content="SizeUp is a free tool that shows how your business compares to competitors, identifies best places to advertise, and maps competitors, customers, and suppliers." name="description">    
    <meta name="msvalidate.01" content="617D422F1C755FBC8E951643F1B3D8C5" />
    
    <link href="@Url.Content("~/Content/views/home.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />


    <link href="@Url.Content("~/Content/thirdParty/add2Home.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="//@System.Configuration.ConfigurationManager.AppSettings["API.Url"]/js/?apikey=@System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"]&callback=apiLoaded&@SizeUp.Core.Web.CacheBuster.Buster"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/home.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/controls/industrySelector.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/controls/placeSelector.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

    <script type="text/javascript">
        var addToHomeConfig = {
            touchIcon: true,
            lifespan:10000,
            message:'Install SizeUp on your %device: tap %icon and then <strong>Add to Home Screen</strong>.'
        };
    </script>
    <!--<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/add2Home.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>-->
}

<div id="wizard">
    <div id="form" class="hidden">
        <h1>Business Intelligence for All</h1>
        <p class="tagCloud top">
            <span class="c5">Dentists</span>
            <span class="c2">Coffee Shops</span>
            <span class="c4">Child Care Service</span>
            <span class="c3">Landscape Contractors</span>
            <span class="c6">Attorneys</span>
            <span class="c1">Tax Preparers</span>
            <span class="c5">Beauty Salons</span>
            <span class="c1">Shoe Stores</span>
            <span class="c1">Florists</span>
            <span class="c4">Pharmacies</span>
            <span class="c2">Architects</span>
            <span class="c3">Veterinarians</span>
        </p>
        <label for="searchIndustry">Enter Your Industry</label>
        <p id="noIndustryMatchesMessage" class="info hidden">No industry matched your keyword. Please search again and select from the dropdown.</p>
        <input type="text" id="searchIndustry" data-prompt="enter your industry" />
        <p class="tagCloud bottom">
            <span class="c1">Retail Bakeries</span>
            <span class="c3">Electric Contractors</span>
            <span class="c1">Shoe Stores</span>
            <span class="c4">Grocery Stores & Supermarkets</span>
            <span class="c3">Gas Stations</span>
            <span class="c1">Photographers</span>
            <span class="c3">Hotels & Motels</span>
            <span class="c1">Interior Decorators</span>
            <span class="c1">Pest Control Services</span>
            <span class="c2">Gift Shops</span>
        </p>

        <p id="invalidCityMessage" class="info hidden">Please enter a valid city name and select from the dropdown.</p>
        <p id="noValuesEntered" class="info hidden">Please enter a city and industry and select from the dropdowns.</p>
        <input type="text" id="searchCommunity" class="blank hidden" data-prompt="enter your city" />
        <p id="enteredLocation" class="location hidden">Your city is <a class="changeLocation" href="javascript:void(0);"><span class="locationText"></span>&nbsp;<span class="hint">[change]</span></a></p>
        <p id="detectedLocation" class="location hidden">We think you are in <a class="changeLocation" href="javascript:void(0);"><span class="locationText"></span>&nbsp;<span class="hint">[change]</span></a></p>


        <a href="javascript:void(0);" id="continue" class="button">Continue</a>

    </div>

    <div id="selector" class="hidden">
        <h2>Choose your next step</h2>
        <ul>
            <li>
                <img src="@Url.Content("~/Content/images/mybusiness.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="My Business" />
                <a href="#" id="myBusiness" class="button">My Business</a>
                <p>Compare your business to your industry competitors.</p>
            </li>
            <li>
                <img src="@Url.Content("~/Content/images/compete.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Competition" />
                <a href="#" id="competition" class="button">Competition</a>
                <p>Map your competitors, customers, and suppliers.</p>
            </li>
            <li>
                <img src="@Url.Content("~/Content/images/advertise.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Advertising" />
                <a href="#" id="advertising" class="button">Advertising</a>
                <p>Find best places to target your next advertising campaign.</p>
            </li>
        </ul>
    </div>
</div>

@section scripts{

    <script type="text/javascript">       
        var done = function () {
            var opts = {
                currentInfo: @Html.Raw(ViewBag.CurrentInfoJSON)
                };
            var driver = new sizeup.views.home(opts);
        };
        var notifier = new sizeup.core.notifier(done);
        var apiLoaded = notifier.getNotifier();
        var doc = notifier.getNotifier();


        $(document).ready(doc);
    </script>


}


