@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head{
<title>Top Places</title>
<link href="@Url.Content("~/Content/views/topPlaces/index.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/notifier.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/chosen.jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.ba-bbq.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/util/numbers/format.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Scripts/controls/slider.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/rangeslider.js")"></script>
  
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLng.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLngBounds.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatPin.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Scripts/views/topPlaces/topPlaces.js")"></script>


}


<div id="topPlaces">
    <div class="content container hidden">
    
        <h2>Top <a href="#">cities</a> for <a href="#">Total Revenue</a> in the <a href="#">@ViewBag.CurrentInfo.CurrentIndustry.Name industry </a> in <a href="#">The United States</a></h2>
            
       
        <div class="filter container">
            <div class="filterMenu">
                <select id="attributeMenu">
                    <option value="totalRevenue">Total Annual Revenue</option>
                    <option value="totalEmployees">Total Employees</option>
                    <option value="averageRevenue">Average Annual Revenue</option>
                    <option value="averageEmployees">Average Employees</option>
                    <option value="employeesPerCapita">Employees Per Capita</option>
                    <option value="revenuePerCapita">Highest Revenue Per Capita</option>
                    <option value="underservedMarkets">Most Underserved Markets</option>
                </select>
                <a href="javascript:void(0);" id="filterSettingsButton">Settings</a>
            </div>
        </div>
       

 

        <ul id="placeTypeOption">
            <li>
                <label for="cityOption">City</label>
                <input type="radio" id="cityOption" data-index="city" name="placeType" checked="checked" />
            </li>
            <li>
                <label for="countyOption">County</label>
                <input type="radio" id="countyOption" data-index="county" name="placeType" />
            </li>
            <li>
                <label for="metroOption">Metro</label>
                <input type="radio" id="metroOption" data-index="metro" name="placeType" />
            </li>
            <li>
                <label for="stateOption">State</label>
                <input type="radio" id="stateOption" data-index="state" name="placeType" />
            </li>
        </ul>

        <select id="regionMenu">
            <option value="">All</option>
            <optgroup label="Regions">
                @foreach (var r in ViewBag.Regions)
                {
                <option value="@("r" + r.Id)">@r.RegionName - @r.Name</option>
                }
            </optgroup>

            <optgroup label="States">
                @foreach (var r in ViewBag.States)
                {
                <option value="@("s" + r.Id)">@r.Name</option>
                }
            </optgroup>
        </select>

   
        <div class="filters">

            <input type="text" value="min" id="populationMin" />
            <input type="text" value="max" id="populationMax" />



            <ul class="options">
                <li id="bachelorOrHigher">
                    <span class="label">Bachelor's Degree or Higher:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                <li id="blueCollarWorkers">
                    <span class="label">Blue Collar Workers:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                <li id="highSchoolOrHigher">
                    <span class="label">High School Education or Higher:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                <li id="whiteCollarWorkers">
                    <span class="label">White Collar Workers:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                <li id="airportsNearby">
                    <span class="label">Airports Nearby:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                <li id="youngEducated">
                    <span class="label">Young and Educated:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>
                
                <li id="universitiesNearby">
                    <span class="label">Universities Nearby:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>

                 <li id="commuteTime">
                    <span class="label">Commute Time:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>
                


                
            </ul>
        </div>



        <div class="mapContent container">
            <div class="map"></div>
            <div class="footer">
                <ul class="bandContainer">
                    <li data-template="bandItem"><img data-override-src="/content/images/heatPin{{color}}.png" /><span>{{label}}</span></li>
                </ul>
            </div>
        </div>

   
        <div class="list container">
            <table>
                <thead>
                    <tr>
                    <td class="rank">Rank</td>
                    <td class="name">Name</td>
                    <td class="value">XXXXX</td>
                    </tr>
                </thead>
                <tbody class="results">
                    <tr data-template="cityItem">
                        <td class="rank">{{rank}}</td>
                        <td class="name"><a data-override-href="/community/{{state.SEOKey}}/{{county.SEOKey}}/{{city.SEOKey}}" class="name">{{city.Name}}, {{state.Abbreviation}}</a></td>
                        <td class="value">{{formattedValue}}</td>
                    </tr>
                    <tr data-template="countyItem">
                        <td class="rank">{{rank}}</td>
                        <td class="name"><a data-override-href="/community/{{state.SEOKey}}/{{county.SEOKey}}" class="name">{{county.Name}} County, {{state.Abbreviation}}</a></td>
                        <td class="value">{{formattedValue}}</td>
                    </tr>
                    <tr data-template="metroItem">
                        <td class="rank">{{rank}}</td>
                        <td class="name"><a data-override-href="/communitymetro/{{metro.SEOKey}}" class="name">{{metro.Name}}</a></td>
                        <td class="value">{{formattedValue}}</td>
                    </tr>
                    <tr data-template="stateItem">
                        <td class="rank">{{rank}}</td>
                        <td class="name"><a data-override-href="/community/{{state.SEOKey}}" class="name">{{state.Name}}</a></td>
                        <td class="value">{{formattedValue}}</td>
                    </tr>
                </tbody>
            </table>
            


            <div class="noResults hidden">
                <p>No Results Returned.</p>
            </div>
            <div class="loading list hidden">
                <p class="title"></p>
                <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
                <p class="message">Loading Next Set of Communities</p>
            </div>
   
        </div>

   


    
        <div class="loading page">
            <p class="title"></p>
            <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
            <p class="message">Locating Communities</p>
        </div>

    </div>
</div>





@section scripts{

    <script type="text/javascript">
        var opts = {
            CurrentInfo: @Html.Raw(ViewBag.CurrentInfoJSON)
        };
        var driver = new sizeup.views.topPlaces.topPlaces(opts);
    </script>


}


