@{
    Layout = "~/Areas/Widget/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Competition - @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</title>
<link href="@Url.Content("~/Content/views/competition/index.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/widget/views/competition/index.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/widget/views/competition/print.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" media="print" />

<script type="text/javascript" src="//@System.Configuration.ConfigurationManager.AppSettings["API.Url"]/js/?apikey=@(ViewBag.CustomTools == true ? ViewBag.APIKeyValue : System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"])&callback=apiLoaded&wt=@ViewBag.WidgetToken&@SizeUp.Core.Web.CacheBuster.Buster"></script>
@*<script type="text/javascript" src="//@System.Configuration.ConfigurationManager.AppSettings["API.Url"]/js/?apikey=@System.Configuration.ConfigurationManager.AppSettings["SizeUpAPI"]&callback=apiLoaded&wt=@ViewBag.WidgetToken&@SizeUp.Core.Web.CacheBuster.Buster"></script>*@

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/tinycolor-min.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/notifier.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/util/numbers/format.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/industrySelector.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/placeSelector.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/promptBox.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/pager.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/flashBox.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatmapColors.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/businessMarker.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/imagePin.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latlng.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latlngBounds.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/infoWindow.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/overlay.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/legend.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/heatmapOverlays.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/views/shared/signin.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/views/competition/competition.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

}

<div id="competition">
    <div class="headerWrapper">
        <h2 class="heading">
            <span>Map your competitors, customers and suppliers in the</span>
           
            <input type="text" id="industryBox" data-prompt="enter an industry" class="hidden selectBox" />
            <a href="javascript:void(0);" id="changeIndustry" class="changeLink">@ViewBag.CurrentInfo.CurrentIndustry.Name</a>

            <span>industry around </span>


            <input type="text" id="placeBox" data-prompt="enter a city" class="hidden selectBox" />
            <a href="javascript:void(0);" id="changePlace" class="changeLink">@ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation</a>

        </h2>
    </div>

    <div id="sessionLoadedBox" class="flash hidden">
        <div class="info">
            <p>Your previously entered values for this city and industry have been loaded.</p>
        </div>
    </div>

    <div class="content container">
        <div class="controls container">
             <ul class="tabs">
                <li class="active competitors"><a href="javascript:void(0);" class="inverse">Competitors</a></li>
                <li class="buyerQuestion question"><a href="javascript:void(0);" class="inverse" >Sell to other businesses?</a></li>
                <li class="buyers hidden"><a href="javascript:void(0);" class="inverse" >Customers</a></li>
                <li class="supplierQuestion question"><a href="javascript:void(0);" class="inverse">Buy from other businesses?</a></li>
                <li class="suppliers hidden"><a href="javascript:void(0);" class="inverse">Suppliers</a></li>
             </ul>

             <div class="industryPicker container"> 
                <ul class="industryList">
                    <li data-template="industryItem" class="item" data-id="{{Id}}">
                        <a href="javascript:void(0);" class="remove" data-id="{{Id}}">Remove</a>
                        <span title="{{Name}}">{{Name}}</span>
                    </li>
                </ul>
        
                <p class="competitor title">Add additional categories of businesses that compete with you:</p>
                <p class="buyer title">Add categories of businesses that buy from you:</p>
                <p class="supplier title">Add categories of businesses that sell to you:</p>
                <input type="text" class="pickerInput" data-prompt="enter an industry" />
            </div>


            <div class="mapControls container">
                <p class="filterMessage">Add customers and suppliers using the tabs above.</p>
                <div class="mapFilter container hidden">
                    <ul>
                        <li class="competitor">
                            <input type="radio" id="competitorBox" data-index="competitor" name="mapFilter" value="competitor">
                            <label for="competitorBox"><span class="legendItem"></span>Competitors</label>
                        </li>
                        <li class="supplier">
                            <input type="radio" id="supplierBox" data-index="supplier" name="mapFilter" value="supplier">
                            <label for="supplierBox"><span class="legendItem"></span>Suppliers</label>
                        </li>
                        <li class="buyer">
                            <input type="radio" id="buyerBox" data-index="buyer" name="mapFilter" value="buyer">
                            <label for="buyerBox"><span class="legendItem"></span>Customers</label>
                        </li>
                        <li class="all">
                            <input type="radio" id="allBox" data-index="all" name="mapFilter" checked="checked" value="all" >
                            <label for="allBox">All <span class="zoomMessage">(Zoom In)</span></label>
                        </li>
                    </ul>
                </div>

                <div class="consumerExpenditures container">
                    <a href="javascript:void(0);" class="menu">Consumer Expenditures</a>
                    <div class="consumerExpenditurePicker hidden">
                        <ul class="selection">
                            <li data-template="consumerExpenditureListItem"><a href="javascript:void(0);"  data-hasChildren="{{HasChildren}}" data-id="{{Id}}" class="inverse {{^HasChildren}}leaf{{/HasChildren}}">{{Description}}</a></li>                  
                        </ul>
                        <ul class="children">
                        </ul>
                        <div class="loading hidden">
                            <p>Loading...</p>
                        </div>
                        <div class="menuOptions">
                            <a class="inverse startOver" href="javascript:void(0);">Start Over</a> | <a class="inverse close" href="javascript:void(0);">Close</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mapWrapper container">

            <div data-template="legendTitle" class="legend titleWrap">
                <p class="backdrop edge title"><span class="text"></span></p>
            </div>
            <div data-template="legendContainer" class="legend backdrop edge">
                <div class="options">
                    <a href="javascript:void(0)" data-value="1" class="ceType radio">TOTALS</a>

                    <a href="javascript:void(0);" data-value="2" class="ceType radio">AVERAGES</a>
                </div>

                <ul class="legend legendContainer">
                    <li data-template="legendItem"><div class="block" data-override-style="background-color: {{color}};"></div><span class="range text">{{label}}</span></li>
                </ul>
            </div>
         
         

            <div data-template="infoWindow" class="infoWindow">
                <h3>{{Name}}</h3>
                <span>{{Address}}{{^Address}}Street address not provided{{/Address}}</span>
                <ul>
                    <li><span class="label">Phone:</span><span class="value">{{PhoneFormatted}}</span></li>
                    <li><span class="label">Business Type:</span><span class="value">{{#IsFirm}}Corporation{{/IsFirm}}{{^IsFirm}}{{#IsHomeBased}}Home-based{{/IsHomeBased}}{{^IsHomeBased}}No data{{/IsHomeBased}}{{/IsFirm}}</span></li>
                    <li><span class="label">Ownership:</span><span class="value">{{#IsPublic}}Public{{/IsPublic}}{{^IsPublic}}Private{{/IsPublic}}</span></li>
                    <li><span class="label">Website:</span>{{#Url}}<a target="_blank" data-override-href="http://{{Url}}" class="value">{{Url}}</a>{{/Url}}{{^Url}}<span class="lowlight value">Not provided</span>{{/Url}}</li>
                    <li><span class="label">Years in business:</span>{{#YearsInBusiness}}<span class="value">{{YearsInBusiness}}</span>{{/YearsInBusiness}}{{^YearsInBusiness}}<span class="value">No data</span>{{/YearsInBusiness}}</li>
                </ul>
                <div class="tools">
                    <a class="zoom" href="javascript:void(0);">Zoom</a>
                    <a class="remove" href="javascript:void(0);">Remove Pin</a>
                </div>
            </div>
            <div class="map"></div>
        </div>
   

        <div class="list container">
           
            <div class="loading hidden">
                <p class="title"></p>
                <img src="@Url.Content("~/content/images/Loading.gif")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Loading" />
                <p class="message">Loading Businesses</p>
            </div>

            <ul class="businessList hidden">
                <li data-template="businessItem">
                    <a href="javascript:void(0);" data-id="{{business.Id}}">
                        <img data-override-src="/pins/business/marker/{{index}}/{{number}}" />
                        <dl>
                            <dt class="name">{{business.Name}}</dt>
                            <dd class="address">{{business.Address}}{{^business.Address}}Street address not provided{{/business.Address}}</dd>
                        </dl>
                    </a>
                </li>
            </ul>

            <div class="noResults hidden">
                <p>There are no businesses that meet your criteria</p>
            </div>

            <div class="addIndustries hidden">
                <p>Add industries to populate this list of businesses</p>
            </div>

            <div class="pager hidden">
                <div data-template="pager">
                    <span class="label">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                    {{#first}}<a href="javascript:void(0);" data-index="first">&lt;&lt;</a>{{/first}}
                    {{#prev}}<a href="javascript:void(0);" data-index="prev">&lt;</a>{{/prev}}
                    <ul>
                        {{#pages}}
                        <li class="page {{#current}}current{{/current}}"><a href="javascript:void(0);" data-index="{{index}}">{{index}}</a></li>
                        {{#seperator}}<li class="seperator">|</li>{{/seperator}}
                        {{/pages}}
                    </ul>
                    {{#next}}<a href="javascript:void(0);" data-index="next">&gt;</a>{{/next}}
                    {{#last}}<a href="javascript:void(0);" data-index="last">&gt;&gt;</a>{{/last}}
                </div>
            </div>

            <p class="footNote hidden">businesses sorted by distance from center of the community</p>


            @if (!(HttpContext.Current.User.Identity.IsAuthenticated || SizeUp.Core.API.APIContext.Current.WidgetPermissions.SigninOptional) || !SizeUp.Core.API.APIContext.Current.WidgetPermissions.CustomTools)
            {
            <div class="signinWrapper hidden">
                    <a href="javascript:void(0);" class="signinToggle inverse" >
                        <span class="prompt">See all {{totalItems}} businesses</span>
                        <span class="viewing">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                    </a>
                    @Html.Partial("Signin")  
            </div>   
            }
        </div>

    </div>  
</div>



@section scripts{

    <script type="text/javascript">
        //@SizeUp.Core.API.APIContext.Current.WidgetPermissions.SigninOptional
    var done = function(){
        var opts = {
            itemsPerPage: 5,
            CurrentInfo: @Html.Raw(ViewBag.CurrentInfoJSON),
            IsAuthenticated: @((HttpContext.Current.User.Identity.IsAuthenticated || SizeUp.Core.API.APIContext.Current.WidgetPermissions.SigninOptional) ? "true" : "false"),
            IsCustomTools: @(SizeUp.Core.API.APIContext.Current.WidgetPermissions.CustomTools ? "true" : "false")
            };
       
        var driver = new sizeup.views.competition.competition(opts);
    };

    var notifier = new sizeup.core.notifier(done);
    var apiLoaded = notifier.getNotifier();
    var doc = notifier.getNotifier();
    $(document).ready(doc);
    </script>


}



