@{
    Layout = "~/Areas/Widget/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - User Profile</title>
<link href="@Url.Content("~/Content/views/user/profile.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/views/user/profile.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
}

<div id="profile">
    <form id="profileForm"  method="post" name="form" action="javascript:void(0);">
        <div class="section">
            <h1>User Profile for @ViewBag.CurrentUser.Email</h1>
            <ul>
                <li>
                    <label for="fullName">Name (optional):</label>
                    <input id="fullName" name="fullName" type="text" value="@ViewBag.CurrentUser.FullName" />
                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Change Password</h2>
            <ul>
                <li>
                    <label for="passwordBox">New Password:</label>
                    <input id="passwordBox" type="password" name="password" />
                </li>
                <li>
                    <label for="confirmPasswordBox">Confirm Password:</label>
                    <input id="confirmPasswordBox" type="password" name="confirmPassword" />
                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Email Preferences</h2>
            <ul>
            @if(ViewBag.CurrentUser.IsApproved){        
                <li> 
                    <label for="optInBox">Send me updates</label>
                    <input id="optInBox" type="checkbox"  name="optIn" @if(ViewBag.CurrentUser.IsSubscribed){ @Html.Raw("checked=\"checked\"");}    />
                    <p class="note">Periodically we will send you reports on how your business is doing. We will never share your email address with third parties, as per our <a href="/product/privacy-policy" target="_blank">Privacy Policy</a>.</p>
                </li>
            }
            else{
                <li>
                    <p class="info error">Please verify your e-mail address by clicking the <strong>verify</strong> link in the welcome e-mail you received or <a href="javascript:void(0);">resend the verification email.</a></p>
                </li>  
            }  
            </ul>
        </div>

        <div id="messages">
            <p id="passwordsDontMatch" class="error info hidden">The passwords you entered don't match. Please re-enter your password to change it.</p>
            <p id="settingsSaved" class="info hidden">Your settings have been successfully changed.</p>
        </div>
        <input type="submit" id="saveChangesButton" class="button" value="Save All Changes" />
    </form>
</div>



@section scripts{
        <script type="text/javascript">
            var driver = new sizeup.views.user.profile();
            
    </script>
}

