@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section head{
<title>Best Places To Advertise - @ViewBag.CurrentInfo.CurrentIndustry.Name in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation </title>
<link href="@Url.Content("~/Content/views/advertising/index.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPI"]&sensor=false"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.linkselect.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/chosen.jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/mustache.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/thirdParty/jquery.ba-bbq.min.js")"></script>


    
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/slider.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/controls/rangeslider.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/core/data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/notifier.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/core/templates.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapStyles.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/mapOptions.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/map.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/imageMarker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/maps/latLng.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Scripts/views/advertising/advertising.js")"></script>


}


<div id="advertising">
    <div id="filterSettings" class="hidden">
        <h2>Best Places to Advertise</h2>
        <p>
            Find the best places to target your next advertising campaign.
             Adjust business and demographic parameters to find the best advertising locations.
        </p>
        <div class="section">
             <ul class="options">
                <li id="distance">
                    <span class="label">Search distance:</span>
                    <span class="valueLabel">
                        <span class="value">at most <span class="val">{{value}}</span> miles</span>
                        <span class="off"><span class="val">Nationwide</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">less</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Industry Performance</h3>
            <ul class="options">
                <li id="averageRevenue">
                    <span class="label">Annual Revenue (Avg. Business):</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">less</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
                <li id="totalRevenue">
                    <span class="label">Total Annual Revenue:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">less</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
                <li id="totalEmployees">
                    <span class="label">Total Employees:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">less</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
                <li id="revenuePerCapita">
                    <span class="label">Revenue per capita:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">less</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section">
            <h3>Demographic Characteristics</h3>
            <ul class="options">
                <li id="householdIncome">
                    <span class="label">Household Income:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">lower</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">higher</span>
                    </div>
                </li>
                <li id="householdExpenditures">
                    <span class="label">Household Expenditures:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">lower</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">higher</span>
                    </div>
                </li>
                <li id="medianAge">
                    <span class="label">Median Age:</span>
                    <span class="valueLabel">
                        <span class="max">at most <span class="val">{{max}}</span></span>
                        <span class="min">at least <span class="val">{{min}}</span></span>
                        <span class="range">between <span class="val">{{min}}</span> and <span class="val">{{max}}</span></span>
                        <span class="off"><span class="val">No Prefernece</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">lower</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">higher</span>
                    </div>
                </li>
                <li id="bachelorOrHigher">
                    <span class="label">Bachelor's Degree or Higher:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>
                <li id="highSchoolOrHigher">
                    <span class="label">High School Education or Higher:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer grads</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more grads</span>
                    </div>
                </li>
                <li id="whiteCollar">
                    <span class="label">White Collar Workers:</span>
                    <span class="valueLabel">
                        <span class="value">at least <span class="val">{{value}}%</span></span>
                        <span class="off"><span class="val">No Preference</span></span>
                    </span>
                    <div class="sliderWrap">
                        <span class="sliderLabel less">fewer</span>
                        <div class="slider"></div>
                        <span class="sliderLabel more">more</span>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0);" class="button small submit">Search</a>
        <a href="javascript:void(0);"  class="inverse cancel">Cancel</a>
    </div>
    <div class="wrapper content hidden">
        <div class="wrapper heading">
            <h2>Best Places to Advertise</h2>
            <label>based on</label>
            <div class="filter">
                <select id="optionMenu">
                    <option value="REVENUE_PER_CAPITA_DESC">Highest Revenue Per Capita</option>
                    <option value="REVENUE_PER_CAPITA_ASC">Most Underserved Markets</option>
                    <option value="AVG_SALES_DESC">Highest Average Revenue</option>
                    <option value="TOTAL_SALES_DESC" selected="selected">Highest Total Revenue</option>
                    <option value="HOUSEHOLD_INCOME">Highest Household Income</option>
                    <option value="CUSTOM">Custom Filter</option>
                </select>
                <a href="javascript:void(0);" id="filterSettingsButton">Settings</a>
            </div>
        </div>

        <div class="mapContent wrapper">
            <div class="map"></div>
            <div class="footer">
                <ul>
                    <li><img src="" /><span>12-166</span></li>
                    <li><img src="" /><span>200-1555</span></li>
                    <li><img src="" /><span>2000-4564</span></li>
                </ul>
            </div>
        </div>

        <p class="description">This is a list of zip codes showing data for the <strong>Pharmacies</strong> industry.</p>

        <div class="listWrapper">
            <div class="pager hidden">
                <div data-template="pager">
                    <span class="label">Viewing {{start}}-{{end}} of {{totalItems}}</span>
                    {{#first}}<a href="javascript:void(0);" data-index="first">&lt;&lt;</a>{{/first}}
                    {{#prev}}<a href="javascript:void(0);" data-index="prev">&lt;</a>{{/prev}}
                    <ul>
                        {{#pages}}
                        <li class="page {{#current}}current{{/current}}"><a href="javascript:void(0);" data-index="{{index}}">{{index}}</a></li>
                        {{#seperator}}<li class="seperator">|</li>{{/seperator}}
                        {{/pages}}
                    </ul>
                    {{#next}}<a href="javascript:void(0);" data-index="next">&gt;</a>{{/next}}
                    {{#last}}<a href="javascript:void(0);" data-index="last">&gt;&gt;</a>{{/last}}
                </div>
            </div>


            <div class="sort">
                <div class="direction"></div>
                <div class="value"></div>
            </div>


            <ul class="results">
                <li data-template="listItem">
                    <a href="#" class="name">San Francisco, CA 94104</a>
                    <span class="value">564</span>
                    <ul class="details">
                        <li>Revenue Per Capita: $9,194 per capita</li>
                        <li>Revenue Per Capita: $9,194 per capita</li>
                        <li>Revenue Per Capita: $9,194 per capita</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="loading list hidden">
            <p class="title"></p>
            <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
            <p class="message">Loading Next Set of Communities</p>
        </div>
        @if(!HttpContext.Current.User.Identity.IsAuthenticated){
        <p class="signinPanel info">
            <span>Please <a href="/user/signin?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign In</a> to see more results.</span>
            <span>Don't have an account? Complete a <a href="/user/register?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">free registration</a>.</span>
        </p>
        }
    </div>
 

    <div class="loading page">
        <p class="title"></p>
        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
        <p class="message">Locating Communities</p>
    </div>
</div>



@section scripts{

    <script type="text/javascript">
        var opts = @Html.Raw(ViewBag.CurrentInfoJSON) ;
        var driver = new sizeup.views.advertising.advertising(opts);
    </script>


}


