@{
    Layout = "~/Views/Shared/_LayoutLBI.cshtml";
}
@{
    ViewBag.Title = "Index";
}
@section head{
    <title>SizeUp for Local Business Intelligence | SizeUp</title>
    <meta name="description" content="SizeUp for Local Business Intelligence (SizeUp LBI) shows businesses how they can grow within their area to stay competitive." />
    
}
<style>
    #video img {
        cursor: pointer;
    }

    #video:hover {
        opacity: 0.8;
        alpha(opacity=80);
    }

    #close-button {
        display: none;
    }

    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 60px;
    }


        .responsive-video iframe,
        .responsive-video object,
        .responsive-video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>

<div id="login-form" class="" style="padding: 0;">
    <div class="text-center" style="padding: 2.75em 2em 0 2em;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 id="form-header">Give businesses the data they need to succeed</h1>
        </div>
        <p id="header-info">SizeUp for Local Business Intelligence shows businesses how they can grow within your area and stay competitive.</p>
        <div id="video" style="margin-top: 4em;">
            <img style="margin:0 auto;" class="img-responsive" src="@Url.Content("~/Content/LBI/images/computerDemo.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Laptop"/>
        </div>
    </div>
    <div id="video-container">
        <img id="close-button" style="position: absolute;
right: 1em; top:2.5em;" class="img-responsive" src="@Url.Content("~/Content/LBI/images/button-close.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Close"/>
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>
    </div>
</div>

<div id="decisions" class="col-lg-12">
    <div id="section-header" class="row text-center">
        <h2>SizeUp for Local Business Intelligence</h2>
        <div class="col-md-8 col-md-offset-2">
            <p class="text-center">
                SizeUp for Local Business Intelligence (SizeUp LBI) shows businesses how they can grow within your area and stay competitive, powered by SizeUp's groundbreaking and award winning technology. All information is customized to your service area, and SizeUp LBI includes advanced demographics.
            </p>
        </div>
    </div>
    <div id="options" style="font-size: 12px;">
        <div class="row">
            <div class="col-wrapper col-lg-6 clearfix">
                <div class="col-lg-3 text-center">
                    <img src="@Url.Content("~/Content/LBI/images/icon-benchmark.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Benchmark Performance"/>
                </div>
                <div class="copy text-left col-lg-8">
                    <h3 class="text-blue">Benchmark Performance</h3>
                    <p>
                        See how you size up by comparing your performance to all other competitors in your industry. SizeUp LBI super-crunches millions of data points to answer this question so businesses know where they stand.
                    </p>
                </div>
            </div>
            <div class="col-wrapper col-lg-6 clearfix">
                <div class="col-lg-3 text-center">
                    <img src="@Url.Content("~/Content/LBI/images/icon-competition.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Assess Competitiveness"/>
                </div>
                <div class="copy text-left col-lg-8">
                    <h3 class="text-blue">Assess Competitiveness</h3>
                    <p>
                        Map where your competitors, customers, and suppliers are located. Determine how you can best serve existing customers, and new customers, and pick suppliers.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-wrapper col-lg-6 clearfix">
                <div class="col-lg-3 text-center">
                    <img src="@Url.Content("~/Content/LBI/images/icon-advertise.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Find Best Places to Advertise"/>
                </div>
                <div class="copy text-left col-lg-8">
                    <h3 class="text-blue">Find Best Places to Advertise</h3>
                    <p>
                        Determine the best areas to target your next advertising campaign.
                    </p>
                </div>
            </div>
            <div class="col-wrapper col-lg-6 clearfix">
                <div class="col-lg-3 text-center">
                    <img src="@Url.Content("~/Content/LBI/images/icon-demographic.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Demographic Analysis"/>
                </div>
                <div class="copy text-left col-lg-8">
                    <h3 class="text-blue">Demographic Analysis</h3>
                    <p>
                        Interactively map demographic, labor force, and consumer expenditure data for your area. Tailor your analysis to the area around an address, or to a custom boundary.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="performance" class="col-lg-12 clearfix">
    <div id="performance-header" class="col-lg-12">
        <h2>Give businesses the data they need to succeed.</h2>
        <p>
            Small businesses are the backbone of the U.S. economy, and entrepreneurs work long hours to keep their businesses up and running, providing jobs and benefitting the local economy.
        </p>
    </div>

    <div class="col-lg-12 col-sm-12">
        <div style="clear: both;">
            <div style="float: left; position: relative; top: 0.5em;">
                <img src="@Url.Content("~/Content/LBI/images/icon-checkmark.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Check Mark"/>
            </div>
            <div class="col-lg-11 right-col">
                <h4>What can you do to help local businesses succeed?</h4>
                <p>Market research from CEB shows that the number one challenge small businesses face is competition from big businesses, partly because large enterprises can afford the technologies and intelligence to make better decisions about sales, advertising and managing competition. SMBs lack the benchmark data and metrics that they need. Thanks to SizeUp Local Business Intelligence (LBI), your organization can empower local businesses with access to the critical information they need for smart decision-making.</p>
            </div>
        </div>
        <div style="clear: both;">
            <div style="float: left; position: relative; top: 0.5em;">
                <img src="@Url.Content("~/Content/LBI/images/icon-checkmark.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Check Mark"/>
            </div>
            <div class="col-lg-11 right-col">
                <h4>Why SizeUp LBI?</h4>
                <p>
                    SizeUp LBI quickly and easily offers the data mining and processing intelligence that would otherwise take weeks of time, patience, and expertise. Embed this user-friendly, intuitive, and highly visual small business accelerator on your website, and invite local business owners and managers to quickly get information they need to make intelligent decisions based on high-quality data.
                </p>
            </div>
        </div>
    </div>
</div>




<div id="competition-gray" class="gradient gray-bg col-lg-12 text-center clearfix">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-6">
        <div class="row">
            <img  class="text-center" src="@Url.Content("~/Content/LBI/images/icon-retention.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Retention"/>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
                <h4 class="text-left">Care about Business Retention?</h4>
                <p class="text-left">
                    Business counselors and economic development organizations work incredibly hard to serve the needs of the existing businesses in their communities. SizeUp LBI is a toolset that will help you scale your services to address every member of your business community. Keep your businesses happy by helping them succeed.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="competition-gray" class="gradient gray-bg col-lg-12 text-center clearfix">
    <div class="col-lg-10 col-lg-offset-1 col-md-9 col-sm-9">
        <div class="row">
            <img class="text-center" src="/Content/LBI/images/icon-love.png?1.0.5571.12804" alt="Love">
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-sm-12">
                <h4 class="text-left">Our clients love SizeUp LBI</h4>
                <p class="text-left">
                    See some of our clients who are already using the SizeUp LBI tool.
                </p>
            </div>
        </div>
        <div>

            <ul class="col-lg-4  col-md-4 col-sm-4 text-left">
                <li>
                    <a target="_blank" href="http://www.tarrantsbdc.org/sizeup-widget">Tarrant Small Business Development Center, TX</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.edcsarasotacounty.com/sizeup/sizeup.html">EDC of Sarasota County, FL</a>
                </li>
                <li>
                    <a target="_blank" href="http://decaturretail.com/index.php/develop/local-business-intelligence">City of Decatur, IL</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.gilbertaz.com/sizeup">Town of Gilbert, AZ</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.choosescottsdale.com/sizeup">City of Scottsdale, AZ</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.leecountybusiness.com/analytics/sizeup-lee">Fort Myers Regional Partnership, FL</a>
                </li>
                <li>
                    <a target="_blank" href="http://farmersbranchtx.gov/index.aspx?NID=686&amp;MOBILE=ON">City of Farmer's Branch, TX</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.quadcitieschamber.com/sizeup">City of Las Cruces, NM</a>
                </li>
                <li>
                    <a target="_blank" href="http://santamariaedc.com/business-sizeup/">Santa Maria Valley Chamber of Commerce, CA</a>
                </li>

            </ul>
            <ul class="col-lg-4  col-md-4 col-sm-4 text-left">
                <li>
                    <a target="_blank" href="http://www.quadcitieschamber.com/sizeup">Quad Cities Chamber of Commerce, IA</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.zmchamber.com/sizeup.html">Zanesville-Muskingum County Chamber of Commerce, OH</a>
                </li>
                <li>
                    <a target="_blank" href="http://mesaaz.gov/business/economic-development/start-up/mesa-sizeup">City of Mesa, AZ</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.poweringflorida.com/interactivemap">Florida Power and Light</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.ci.richland.wa.us/index.aspx?NID=617">City of Richland, WA</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.pascolibraries.org/econtent/electronic-resources/sizeup/">Pasco Economic Development Council, FL</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.santarosaedo.com/intelligence.html">Santa Rosa Economic Development Office, CA</a>
                </li>
                <li>
                    <a target="_blank" href="http://riversideoed.com/resources/sizeup/">City of Riverside, CA</a>
                </li>
                <li>
                    <a target="_blank" href="http://businessreadywi.com/lbi-sizeup">Economic Development Washington County, WI</a>
                </li>


            </ul>
            <ul class="text-left col-lg-4  col-md-4 col-sm-4 ">
                <li>
                    <a target="_blank" href="http://www.arvadaeconomicdevelopment.org/resources/sizeup-your-business/">Arvada Economic Development Association, CO</a>
                </li>
                <li>
                    <a target="_blank" href="http://choosesantacruz.com/resources/sizeup">City of Santa Cruz, CA</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.cityofvacaville.com/index.aspx?page=769">City of Vacaville, CA</a>
                </li>
                <li>
                    <a target="_blank" href="http://sizeup.mcallen.org/">McAllen Chamber of Commerce, TX</a>
                </li>
                <li>
                    <span>Lake Superior Community Partnership, MI</span>
                </li>
                <li>
                    <span>Berkshire Chamber of Commerce, MA</span>
                </li>
                <li>
                    <span>Bowling Green Area Chamber of Commerce, KY</span>
                </li>
                <li>
                    <span>Colorado SBDC</span>
                </li>
                <li>
                    <span>Bellevue Chamber of Commerce, WA</span>
                </li>
            </ul>


        </div>
    </div>
</div>



<div id="competition-blue" class="blue-footer section-end col-lg-12 text-center clearfix">
    <span>Learn more about empowering local businesses</span>
    <a href="/Content/LBI/SizeUpLBI-EmpowerLocalBusinesses.pdf" class="btn btn-green btn-primary btn-lg">Download Report</a>
</div>

<div id="contact" class="col-lg-12 clearfix">
    <div id="performance-header" class="col-lg-12">
        <h2>Contact SizeUp LBI</h2>
        <p>
            If you would like to know more about SizeUp LBI and how it can benefit your community, we are here to help you. 
        </p>
        <br />
        <h4>Mark Hays, National Sales Executive</h4>
        <a href="mailto:mhays@sizeup.com">mhays@SizeUp.com</a>

        <h4>General Information</h4>
        <a href="mailto:lbi@sizeup.com">LBI@SizeUp.com</a>
    </div>
</div>

<script type="text/javascript">
    var player, width, height;


    $(document).ready(function () {

        $("#video-container").hover(function () {
            $('#close-button').fadeIn('slow');
        }, function () {
            $('#close-button').fadeOut('slow');
        });


        $('#close-button').on('click', function () {
            player.stopVideo();
            $("#video-container").hide();
        });

        function showVideo() {
            $('#video-container').fadeIn('slow', function () {
                player.playVideo();
            });
        }




        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        $('#video').on('click', function (e) {
            showVideo();
        });
    });
</script>

<script>
    $(window).load(function () {
        // this will fire after the entire page is loaded, including images
        width = $('#login-form').width();
        height = $('#login-form').height();
        $('#video-container').css('width', width + 'px');
        $('#video-container').css('height', height + 'px');

        player = new YT.Player('player', {
            height: height,
            //width: (parseInt(width) * .80).toString(),
            width: width,
            setPlaybackQuality: 'hd720',
            suggestedQuality: 'hd720',
            videoId: 'HBA8dfwqU8E',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    });


    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    function onYouTubeIframeAPIReady() {

    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        //event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            //setTimeout(stopVideo, 6000);
            done = true;
        }

        if (event.data == YT.PlayerState.BUFFERING)
            event.target.setPlaybackQuality('hd720');
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
