@{
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section head{
    <title>Web Portals to Serve SMB</title>
    <meta name="keywords" content="enterprise, partners, big data, api, small businesses" />
    <meta name="description" content="SizeUp licenses its API to enterprises that want to dramatically increase customer engagement and interact with their customers in a genuine and impactful way." />

    <link href="@Url.Content("~/Content/views/help/contact.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/home-ui.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
}
@*@Html.Raw(ViewBag.Content)*@

<style>
    html, body, .wrapper { padding: 0; margin: 0; height: 100%; }
    .main, .sidebar {
        display: table-cell;
        float: none;
        vertical-align: top;
    }

    .wrapper {
        display: table;
        width: 100%;
    }

    .row {
        height: 100%;
        margin: 0;
        display: table-row;
        &:before, &:after {
            content: none;
        }
    }


    #header { margin-top: 2.25em; }
    .sidebar { font-size: 12px; color: #0088c7; background-color: #eff2f5; border: 1px solid #e0e0e0; padding-left: 0; padding-right: 0; padding-bottom: 41.6em; }
    .sidebar p { color: #005687; margin-top: 30px; }
    .sidebar li:hover { background-color: #16a9ed; }
    .sidebar li:hover a { color: #ffffff; background-color: #16a9ed; }

    #magazine { height: 285px; background-position: -122px -250px; background-image: url(/Content/images/magazine.png); background-repeat: no-repeat; }
    .main { padding-left: 0; padding-right: 0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; }
    .header { background-color: #005687; padding-bottom: 44px; }
    .header h1 { font-size: 36px; font-weight: 200; color: white; margin-bottom: 8px; }
    .header a { font-size: 14px; padding: .75em 3em; }
    .header-copy { color: white; line-height: 24px; font-size: 16px; font-weight: 200; }

    .enterprise-section { padding: 42px; border-bottom: 1px solid #e0e0e0; }
    .enterprise-section h4 { font-size: 22px; font-weight: normal; }
    .options h5 { font-size: 18px; font-weight: normal; }
    .enterprise-section p { margin-left: 0; }

    .options { padding-top: 40px; padding-bottom: 40px; background-color: #f7f9fb; border-bottom: 1px solid #e0e0e0; }
    .options h4 { color: #005687; font-size: 13px; font-weight: bold; }
    .options img { position: relative; top: 11px; left:-10px;}
    .options p { margin-left: 0; }
    .options p#first { margin-bottom: 30px; }
    .options h5 { color:#005687;}

    .bottom-section { padding-top: 40px; padding-bottom: 40px; }

    .nav-sidebar { border-bottom: 2px groove white; padding-bottom: 25px; }
    .nav > li > a { padding: 5px 15px; }

    .sidebar p, .sidebar ul li { padding-left: 1em; }
</style>

<div class="col-lg-12 wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2 enterprise sidebar">
            <p style="">Business & Communities</p>
            <ul class="nav nav-sidebar">
                <li><a href="/find-community">Community Information</a></li>
                <li><a href="/find-business">Business Directory</a></li>
                <li><a href="/bestPlaces/">Best Places</a></li>
            </ul>
            <p>Help & Support</p>
            <ul class="nav nav-sidebar">
                <li><a href="/help/how-it-works">How it Works</a></li>
                <li><a href="/help/faq">FAQ</a></li>
                <li><a href="/help/contact">Contact</a></li>
                <li><a href="/help/enterprisepartners">Enterprise Partners</a></li>
            </ul>
            <p>Company</p>
            <ul class="nav nav-sidebar">
                <li><a href="/company/about">About</a></li>
                <li><a href="/company/team">Team</a></li>
                <li><a href="http://news.sizeup.com" target="_blank">News</a></li>
                <li><a href="/company/jobs">Jobs</a></li>
            </ul>
            <p>Privacy & Security</p>
            <ul class="nav nav-sidebar" style="border-bottom: none;">
                <li><a href="/product/terms">Terms of Use</a></li>
                <li><a href="/product/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-9  col-md-10  main text-center">
            <div class="header">
                <div id="magazine"></div>
                <h1>Large Enterprise Web Portals to Serve SMB Customers</h1>
                <p class="header-copy">
                    Large companies are expanding their online services to become partners in their small business customers’ success.
                </p>
                <a target="_blank" type="button" class="btn btn-green btn-primary btn-lg" href="/Content/files/Large%20Enterprise%20Portals%20to%20Serve%20SMB%20Customers.pdf">
                    Download Report</a>
            </div>
            <div class="enterprise-section text-left col-md-12">
                <h4>Five Pillars of a Successful SMB Portal</h4>
                <p>The most successful enterprises have focused their time and resources developing these five pillars of SMB Portals: Content, Tools, Community, Sales, and Goodwill.</p>  
            </div>

            <div class="options col-md-12">
                <div class="text-left col-md-12">
                    <h5>Key Trends Shaping Large Enterprise SMB Portals</h5>
                    <p id="first">Large enterprises are delivering online portals that provide information, tools, and services to help these small businesses start up, plan, and grow. These portals create a relationship in which the large enterprise becomes a valued partner throughout the entire lifecycle of the SMB. </p>
                </div>
                <div class="col-md-6">
                    <div class="col-md-1">
                        <img src="@Url.Content("~/Content/images/comprehensive-icon.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Comprehensive SMB Services"/>
                    </div>
                    <div class="col-md-10 text-left">
                        <h4>Comprehensive SMB Services</h4>
                        <p>
                            Large companies are expanding their online services to become partners in their
                            small
                            and medium-sized business (SMB) customers’ success.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-1">
                        <img src="@Url.Content("~/Content/images/destination-icon.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Beign a Destination"/>
                    </div>
                    <div class="col-md-10 text-left">
                        <h4>Being a destination</h4>
                        <p>
                            Large enterprises are competing to make their websites a destination where SMBs spend more time, keep coming back, and which result in a stronger customer relationships.  
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-1">
                        <img src="@Url.Content("~/Content/images/land-grab-icon.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Land Grab"/>
                    </div>
                    <div class="col-md-10 text-left">
                        <h4>Land grab</h4>
                        <p>
                            There is competition between large companies to be the first, biggest, and best portal to to provide the most services to SMBs. 
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-1">
                        <img src="@Url.Content("~/Content/images/innovation-icon.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Innovation, confusion, and ignorance"/>
                    </div>
                    <div class="col-md-10 text-left">
                        <h4>Innovation, confusion, and ignorance</h4>
                        <p>
                            Companies are experimenting with what works best and none have yet delivered all of the five key elements of a successful SMB portal. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="bottom-section text-center col-md-12">
                <a target="_blank" type="button" style="font-size: 14px;" class="btn btn-green btn-primary btn-lg"
                    href="/Content/files/Large%20Enterprise%20Portals%20to%20Serve%20SMB%20Customers.pdf">
                    Download Report</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            checkWidth();

        });
    </script>
}