@{
    Layout = "~/Views/Shared/_LayoutResponsive.cshtml";
}

@section head{
    <title>Financial Institutions</title>
    <meta name="title" content="Web Portals to Serve SMB" />
    <meta name="keywords" content="enterprise, partners, big data, api, small businesses" />
    <meta name="description" content="SizeUp licenses its API to enterprises that want to dramatically increase customer engagement and interact with their customers in a genuine and impactful way." />

    <link href="@Url.Content("~/Content/views/help/contact.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/home-ui.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>

}
@*@Html.Raw(ViewBag.Content)*@

<style>
    html, body, .wrapper {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .main, .sidebar {
        display: table-cell;
        float: none;
        vertical-align: top;
    }

    .wrapper {
        display: table;
        width: 100%;
    }

    #video img {
        cursor: pointer;
    }

    #video:hover {
        opacity: 0.8;
    }

    .row {
        height: 100%;
        margin: 0;
        display: table-row;
        &:before, &:after;

    {
        content: none;
    }

    }


    #header {
        margin-top: 2.25em;
    }

    .sidebar {
        font-size: 12px;
        color: #0088c7;
        background-color: #eff2f5;
        border: 1px solid #e0e0e0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 41.6em;
    }

        .sidebar p {
            color: #005687;
            margin-top: 30px;
        }

        .sidebar li:hover {
            background-color: #16a9ed;
        }

            .sidebar li:hover a {
                color: #ffffff;
                background-color: #16a9ed;
            }

    #magazine {
        height: 285px;
        background-position: -122px -250px;
        background-image: url(/Content/images/SizeUpFI-magazine.png);
        background-repeat: no-repeat;
    }

    .main {
        padding-left: 0;
        padding-right: 0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    .header {
        background-color: #005687;
        padding-bottom: 44px;
    }

        .header h1 {
            font-size: 36px;
            font-weight: 200;
            color: white;
            margin-bottom: 8px;
        }

        .header a {
            font-size: 14px;
            padding: .75em 3em;
        }

    .header-copy {
        color: white;
        line-height: 24px;
        font-size: 16px;
        font-weight: 200;
    }

    .enterprise-section {
        padding: 42px;
        border-bottom: 1px solid #e0e0e0;
    }

        .enterprise-section h4 {
            font-size: 22px;
            font-weight: normal;
        }

    .options h5 {
        font-size: 18px;
        font-weight: normal;
    }

    .enterprise-section p {
        margin-left: 0;
    }

    .options {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f7f9fb;
        border-bottom: 1px solid #e0e0e0;
    }

        .options h4 {
            color: #005687;
            font-size: 13px;
            font-weight: bold;
        }

        .options img {
            position: relative;
            top: 11px;
            left: -10px;
        }

        .options p {
            margin-left: 0;
        }

            .options p#first {
                margin-bottom: 30px;
            }

        .options h5 {
            color: #005687;
        }

    .bottom-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .nav-sidebar {
        border-bottom: 2px groove white;
        padding-bottom: 25px;
    }

    .nav > li > a {
        padding: 5px 15px;
    }

    .sidebar p, .sidebar ul li {
        padding-left: 1em;
    }

    .nopadding {
        margin: 0px;
        padding: 0px;
    }

    #video-container iframe {
        width:100% !important;
    }
</style>

<div class="col-lg-12 wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2 enterprise sidebar">
            <p style="">Business & Communities</p>
            <ul class="nav nav-sidebar">
                <li><a href="/find-community">Community Information</a></li>
                <li><a href="/find-business">Business Directory</a></li>
                <li><a href="/bestPlaces/">Best Places</a></li>
            </ul>
            <p>Help & Support</p>
            <ul class="nav nav-sidebar">
                <li><a href="/help/how-it-works">How it Works</a></li>
                <li><a href="/help/faq">FAQ</a></li>
                <li><a href="/help/contact">Contact</a></li>
                <li><a href="/help/enterprisepartners">Enterprise Partners</a></li>
            </ul>
            <p>Company</p>
            <ul class="nav nav-sidebar">
                <li><a href="/company/about">About</a></li>
                <li><a href="/company/team">Team</a></li>
                <li><a href="http://news.sizeup.com" target="_blank">News</a></li>
                <li><a href="/company/jobs">Jobs</a></li>
            </ul>
            <p>Privacy & Security</p>
            <ul class="nav nav-sidebar" style="border-bottom: none;">
                <li><a href="/product/terms">Terms of Use</a></li>
                <li><a href="/product/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-9  col-md-10  main text-center">
            <div class="header">
                <div id="magazine"></div>
                <h1>Financial Institution Online Big Data Platforms</h1>
                <p class="header-copy">
                    to Serve and Acquire Small Business Customers.
                </p>
                <a target="_blank" type="button" class="btn btn-green btn-primary btn-lg" href="/Content/files/SizeUp-FI.pdf">Download Report</a>
            </div>
            <div class="enterprise-section text-left col-md-12">
                <h4>FINANCIAL INSTITUTION CHALLENGES </h4>
                <p>Financial institutions face significant challenges when working with small businesses. The successful FI must find solutions to differentiate its small and medium-sized businesses (SMB) value proposition, become more efficient, and serve a diverse array of small business customers. </p>
            </div>

            <div class="col-md-12 nopadding" >
                <div id="video" class="col-md-12 nopadding">
                    <img class="img-responsive col-xs-12" src="/Content/images/SizeUp-FI-video.png" style="padding: 0px;" alt="Bubbles" />
                </div>
                <div id="video-container" style="display:none" >
                    <img id="close-video" style="position: absolute; right: 3.5em; top: 2.5em; font-size: 12px;" class="img-responsive" src="/Content/LBI/images/button-close.png?1.0.5910.32047" alt="Close" />
                    <div id="player" ></div>
                </div>





            <div class="text-left col-md-12" style="padding-top:40px">
                <h5>Value for financial institutions that implement big data for small business customers</h5>
                <p id="first">Implementing big data insights for SMB customers using SizeUp FI provides FIs significant value and solutions to challenges they are facing.</p>
            </div>
            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-shapes.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Comprehensive SMB Services"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>DIFFERENTIATED TOOL FOR FIs</h4>
                    <p>SizeUp FI has different offerings with unique data mash-ups and customization. Each FI can have it’s own unique implementation of SizeUp FI.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-people.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Comprehensive SMB Services"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>INDIVIDUALIZED, CUSTOMIZED SERVICE</h4>
                    <p>FIs can finally provide a valuable and individualized service to all SMB customers without limitation by industry, size, or location.</p>
                </div>
            </div>









            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-box.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Beign a Destination"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>COMPETE OUTSIDE OF “ME TOO” FI OFFERINGS</h4>
                    <p>SizeUp FI delivers competitive advantage for FIs outside of highly competitive and regulated core industry offerings.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-light.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Beign a Destination"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>HELPS FI’S CUSTOMERS SOLVE PROBLEMS</h4>
                    <p>The offering creates a “halo effect” for the FI because it provides insights SMBs would unlikely ever get/understand/afford individually.</p>
                    @*<p>For the SMB, the service increases the value of being the FI’s customer.</p>*@
                </div>
            </div>



            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-dollar.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Land Grab"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>INTRODUCE AND SELL FI PRODUCTS & SERVICES</h4>
                    <p>
                        SizeUp FI provides a range of value through entire business lifecycle (e.g. feasibility, launch, grow, expand, replicate) and enables the FI to introduce the FI’s products/services through SizeUp during these key lifecycle inflection points.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-1">
                    <img src="@Url.Content("~/Content/images/SizeUp-FI-hands.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Innovation, confusion, and ignorance"/>
                </div>
                <div class="col-md-10 text-left">
                    <h4>BOOST CUSTOMER ENGAGEMENT WITH SMBs</h4>
                    <p>
                        FIs are able to deliver customized content in real time. It also fosters a “sticky” relationship because industry rankings are always changing so customers have to come back to FI website for updates. This also leverages the psychological competitiveness of entrepreneurs.  
                    </p>
                </div>
            </div>



        </div>
        <div class="bottom-section text-center col-md-12">
            <a target="_blank" type="button" style="font-size: 14px;" class="btn btn-green btn-primary btn-lg"
                href="/Content/files/SizeUp-FI.pdf">Download Report</a>
        </div>
    </div>
</div>
</div>

@section scripts{

    <script type="text/javascript">

        $(function () {
            var player;
            // 2. This code loads the IFrame Player API code asynchronously.
            tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api"
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            //function onYouTubeIframeAPIReady() {


            var startVideo = function () {

                if (player === undefined)
                    player = new YT.Player('player', {
                        width: $('#video').width() + 'px',
                        height: $('#video').height() + 'px',
                        videoId: '-iOF1Ly6D7k',
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });

                $('#video').hide();
                $('#video-container').fadeIn('slow', function () {
                    player.playVideo();
                });
            },
            hideVideo = function () {
                $('#video').show();
                $('#video-container').hide();
                stopVideo();
            };

            // }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                //event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data === YT.PlayerState.PLAYING && !done) {

                    done = true;
                }
                if (event.data === YT.PlayerState.BUFFERING)
                    event.target.setPlaybackQuality('hd720');
            }
            function stopVideo() {
                player.stopVideo();
            }
            checkWidth();

            $('#video').click(function () {
                startVideo();
            });


            $('#video-container').hover(function () {
                $('#close-video').fadeIn('slow');
            }, function () {
                $('#close-video').fadeOut('slow');
            });

            $('#close-video').click(function () {
                hideVideo();
            });
        });
    </script>
}