@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Business Listings by City in @ViewBag.State.Name</title>
<link href="@Url.Content("~/Content/views/business/find.css")" rel="stylesheet" type="text/css" />

}

<div id="businessListings" class="city">
    <h1>Business Listings by City in @ViewBag.State.Name</h1>
 
    @foreach(var col in ViewBag.Cities)
    {
    <div class="col">
        @foreach(var list in col){
        <h2>@list.Key</h2>
        <ul>
            @foreach(var item in list.Places)
            {
            <li>
                <a href="/find-business/@ViewBag.State.SEOKey/@item.CountySEOKey/@item.CitySEOKey" class="inverse">@item.CityName <span>(@(item.DisplayType ? item.CountyName + " County - " + item.CityType : item.CountyName + " County" ))</span></a>
            </li>
            }
        </ul>
        }
    </div>

    }

</div>





