@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Business Listings by City in @ViewBag.CurrentInfo.CurrentPlace.State.Name</title>
<link href="@Url.Content("~/Content/views/business/find.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<meta name="title" content="Find Businesses in @ViewBag.CurrentInfo.CurrentPlace.State.Name Listed by City | SizeUp" />
<meta name="description" content="Find businesses in @ViewBag.CurrentInfo.CurrentPlace.State.Name from SizeUp list of businesses or expand your search to neighboring states." />
<meta name="robots" content="noindex" />
}

<div id="businessListings" class="city">
    <h1>Business Listings by City in @ViewBag.CurrentInfo.CurrentPlace.State.Name</h1>
 
    @foreach(var col in ViewBag.Cities)
    {
    <div class="col">
        @foreach(List<SizeUp.Core.DataLayer.Models.Place> list in col){
        <h2>@list[0].City.Name.Substring(0,1)</h2>
        <ul>
            @foreach(var item in list)
            {
            <li>
                <a href="/find-business/@item.State.SEOKey/@item.County.SEOKey/@item.City.SEOKey" class="inverse">@item.City.Name <span>(@item.DisplayName)</span></a>
            </li>
            }
        </ul>
        }
    </div>

    }

</div>








