@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>@ViewBag.Industry.Name in @ViewBag.Place.CityName, @ViewBag.Place.StateName (@ViewBag.Place.CountyName County - @ViewBag.Place.CityType)</title>
<link href="@Url.Content("~/Content/views/business/find.css")" rel="stylesheet" type="text/css" />


}

<div id="businessListings" class="find">
    <h1>@ViewBag.Industry.Name in @ViewBag.Place.CityName, @ViewBag.Place.StateName (@ViewBag.Place.CountyName County - @ViewBag.Place.CityType)</h1>

    <a href="/community/@ViewBag.Place.StateSEOKey/@ViewBag.Place.CountySEOKey/@ViewBag.Place.CitySEOKey/@ViewBag.Industry.SEOKey" class="inverse details">View Detailed Industry Report</a>

    <h1>Businesses in @ViewBag.Place.CityName, @ViewBag.Place.StateName (@ViewBag.Place.CountyName County - @ViewBag.Place.CityType) categorized under @ViewBag.Industry.Name</h1>


    @foreach(var col in ViewBag.Businesses)
    {
    <div class="col">
        <ul>
            @foreach(var item in col)
            {
            <li>
                <a href="/business/@ViewBag.Place.StateSEOKey/@ViewBag.Place.CountySEOKey/@ViewBag.Place.CitySEOKey/@ViewBag.Industry.SEOKey/@item.Id/@item.SEOKey">@item.Name</a>
                <address>
                    @if(!string.IsNullOrWhiteSpace(item.Address)){
                    <span class="address1">@item.Address</span>
                    }
                    <span class="address2">@item.City, @item.State @item.Zip</span>
                </address>
            </li>
            }
        </ul>
    </div>
    }

</div>




