@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Business Listings by Industry in @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Abbreviation (@ViewBag.CurrentInfo.CurrentPlace.County.Name County - @ViewBag.CurrentInfo.CurrentPlace.City.TypeName)</title>
<link href="@Url.Content("~/Content/views/business/find.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />

}


   

<div id="businessListings" class="industry">
    <h1>@ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Name (@ViewBag.CurrentInfo.CurrentPlace.County.Name County - @ViewBag.CurrentInfo.CurrentPlace.City.TypeName)</h1>
    <a href="/community/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey" class="inverse details">View Detailed Community Report</a>

    <h1>Business Listings by Industry for @ViewBag.CurrentInfo.CurrentPlace.City.Name, @ViewBag.CurrentInfo.CurrentPlace.State.Name (@ViewBag.CurrentInfo.CurrentPlace.County.Name County - @ViewBag.CurrentInfo.CurrentPlace.City.TypeName)</h1>


    @foreach(var col in ViewBag.Industries)
    {
    <div class="col">
        @foreach (List<SizeUp.Core.DataLayer.Models.Industry> list in col)
        {
        <h2>@list[0].ParentName</h2>
        <ul>
            @foreach(var item in list)
            {
            <li>
                <a href="/find-business/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/@item.SEOKey" class="inverse">@item.Name </a>
            </li>
            }
        </ul>
        }
    </div>

    }

</div>






